In [207]:
# Module imports so that functions can easily operate
    
import pandas as pd
from datetime import datetime
import csv
import numpy as np
import matplotlib as plt
from pandas import DataFrame
import codecs
import openpyxl
from ipykernel import kernelapp as app

In [2]:
# Creating a mechanism so that I can load function from other python modules


import io, os, sys, types
from IPython import get_ipython
from nbformat import read
from IPython.core.interactiveshell import InteractiveShell

In [214]:
# all the functions in a cell. Later on they will be move to one notebook

def fileopen (file, delimiter):
    #ifile  = open(file, "r")
    #read = csv.reader(ifile, delimiter = delimiter)
    
    datanew =[]
    i = 0
    reader = codecs.open(file, 'r', encoding='utf-8', errors = "ignore")
    for line in reader:
        i= i+1
        row = line.split(delimiter)
        datanew.append(row)
        
    
    # Convering list to dataframe    
    data = DataFrame.from_records(datanew)
    data.columns = data.iloc[0]
    

    # all retun values of function
    return (data.shape, data, list(data.columns.values))

def fileopenxcel (file,sheet):
    wb = openpyxl.load_workbook(file)
    sheet = wb.get_sheet_by_name(sheet)
    row_count = sheet.max_row
    print(row_count)
    column_count = sheet.max_column

    datanew = []
    
    try:
        for i in range(1,row_count+1):
            main_file =[]
            for j in range(1,column_count+1):
                Usrhandle = sheet.cell(row=i, column=j).value
                #print(Usrhandle)
                main_file.append(Usrhandle)
            datanew.append(main_file)
            #print(datanew)
    
    except IOError:
        print( "ok")
        
    return datanew    
    #data = DataFrame.from_records(datanew)
    #return (data.shape, data, list(data.columns.values))
    #print(data.head(7))

def datetimesplit(dataframe,col_name,time_index_name,Date_Index_name):
    s = list(dataframe[col_name])
    new_date = []
    new_time = []
    for row in s:
        if (row == col_name):
            continue
        else:
            date,time = row.split(" ")
            new_date.append(date)
            new_time.append(time)
    # List to series    
    se = pd.Series(new_date)
    se2 = pd.Series(new_time)
    # Insertion into dataframe
    dataframe.insert(loc=0, column = time_index_name, value=se2)
    dataframe.insert(loc=0, column=Date_Index_name, value=se)

def allpresent(dataframe1, dataframe2, col_name1, col_name2):
    SeriA = dataframe1[col_name1]
    SeriB = dataframe2[col_name2]
    
    if (len(SeriA)>len(SeriB)):
        a = list(set(SeriA).intersection(set(SeriB)))
        #diff = SeriB.difference(a)
    else:
        a = list(set(SeriB).intersection(set(SeriA)))
        #diff = SeriA.difference(a)
    return(len(a))

def slicer(dataframe, parameter, param_value, vararray):
    a = dataframe[dataframe[parameter] == param_value][vararray]
    
def slicingevent(list_array, parameter, dataframe, vararray):
    final_data = []
    i = 0
    for thing in list_array:
        
        i= i+1
        if (i>300):
            break
        else:
            datanew = []
            datanew.append(thing)
            for element in vararray:
                #print(element)
                output =(list(dataframe[dataframe[parameter] == thing][element].values))
                #print(output)
                datanew.append(output)
            final_data.append(datanew)
        
    data = DataFrame.from_records(final_data)
    return(data)

In [215]:
# Variables delection from the files 

var1 = []
var2 = ['PC_ITEM_NAME','PC_ITEM_GLUSR_USR_ID','FK_GLCAT_MCAT_ID','ITEM_MAPPING_ISPRIME']
varmcat = []
varmaster = ['GLUSR_USR_ID','GLUSR_USR_CITY','GLUSR_USR_STATE','FK_GL_COUNTRY_ISO','GLUSR_USR_YEAR_OF_ESTB','GLUSR_USR_MODID', 
             'GLUSR_USR_IPADDRESS', 'FK_GL_STATE_ID','GLUSR_USR_CUSTTYPE_ID','GLUSR_USR_CUSTTYPE_NAME','GLUSR_USR_CUSTTYPE_WEIGHT',
             'GLUSR_USR_LONGITUDE', 'GLUSR_USR_LATITUDE', 'GLUSR_USR_LOCALITY']
varofrD = ['ETO_OFR_DISPLAY_ID', 'FK_GLUSR_USR_ID', 'ETO_OFR_DATE','ETO_OFR_GEOGRAPHY_ID', 
           'ETO_OFR_GEOGRAPHY_NAME', 'ETO_OFR_CALL_DISPOSITION_ID', 'ETO_OFR_PROD_SERV', 
           'ETO_OFR_TITLE', 'ETO_OFR_EXP_DATE', 'ETO_OFR_SPEC', 'ETO_OFR_QTY', 'ETO_OFR_APPROV_DATE', 
           'FK_GL_MODULE_ID', 'OFR_MCAT_NAME', 'OFR_CAT_NAME']
varpurchase = ['ETO_LEAD_PUR_ID', 'FK_GLUSR_USR_ID', 'ETO_PUR_DATE', 'FK_ETO_OFR_ID',
               'ETO_OFR_GLUSR_USR_ID', 'ETO_LEAD_FK_GL_MODULE_ID','ETO_LEAD_PUR_POSITION',
               'ETO_LEAD_PUR_TYPE','ETO_LEAD_CREDITS_AV','ETO_CUST_TYPE_WEIGHT']
varmapping =['ETO_OFR_MAPPING_DATE','FK_ETO_OFR_ID','FK_GLCAT_CAT_ID','FK_GLCAT_MCAT_ID','ETO_OFR_MAPPING_ID','PRIME_MCAT']

In [216]:
# Shorthanding of all file names

file1 = "ETO_OFR_USR_SMS_ARCH_PAID.csv"
file2 = "USER_PRODUCTS.csv"
file3 = "USER_MCAT_MAPP.csv"
file4 = "USER_MASTER.csv"
file5 = "OFR_DATA_PART.csv"
file6 = "LEAD_PUR_TAB.csv"
file7 = "OFR_MAPPING.csv"
file8 = "UNIQUE_OFR_ID_ISQ_DES.csv"
file9 = "mcat_pur_wise_data30mar18.xlsx"
file10 = "ofr_desc_isq_data_part_1.xlsx"
file11 = "ofr_desc_isq_data_part_2.xlsx"
file12 = "Mail Sent Data.csv"
file13 = "Email Open Data.csv"
file14 = "City-dictionary.xlsx"
file15 = "MCAT-dictionary.xlsx"

In [13]:
sms_shape, sms, sms_Col = fileopen(file1,"#")

In [139]:
sms

0  FK_GLUSR_USR_ID    FK_ETO_OFR_ID    ETO_OFR_USR_SEND_SMS_DATE    \n
0  FK_GLUSR_USR_ID    FK_ETO_OFR_ID    ETO_OFR_USR_SEND_SMS_DATE    \n
1          3960795      16864764085         03-oct-2017 19:37:16    \n
2          2610822      16864764085         03-oct-2017 20:06:30    \n
3          2610822      16864764085         03-oct-2017 20:06:30    \n
4         36201426      16779448234         03-oct-2017 16:50:55    \n
5         36201426      16779448234         03-oct-2017 16:50:55    \n
6          3701605      16864764085         03-oct-2017 20:18:48    \n
7          3701605      16864764085         03-oct-2017 20:18:48    \n
8         36201426      16779448234         03-oct-2017 19:07:58    \n
9         36201426      16779448234         03-oct-2017 19:07:58    \n

In [13]:
product_shape, product , product_Col = fileopen(file2,"#")

In [14]:
product_Col

['PC_ITEM_NAME',
 'PC_ITEM_GLUSR_USR_ID',
 'FK_GLCAT_MCAT_ID',
 'ITEM_MAPPING_ISPRIME',
 '\n',
 None,
 None,
 None]

In [15]:
mcat_shape, mcat, mcat_Col = fileopen(file3,"#")

In [16]:
master_shape, master, master_Col = fileopen(file4,"#")

In [17]:
ofrD_shape, ofrD, ofrD_Col = fileopen(file5,"#")

In [18]:
purchase_shape, purchase, purchase_Col = fileopen(file6,"#")

In [88]:
#mapping  = pd.read_csv("OFR_MAPPING.csv", delimiter = '#', names = ['ETO_OFR_MAPPING_DATE','FK_ETO_OFR_ID','FK_GLCAT_CAT_ID','FK_GLCAT_MCAT_ID','ETO_OFR_MAPPING_ID','PRIME_MCAT'])
datanew = []
reader = codecs.open("OFR_MAPPING.csv", 'r', encoding='utf-8', errors = "ignore")
for line in reader:
    row = line.split("#")
    datanew.append(row)
        
    
    # Convering list to dataframe    
mapping = DataFrame.from_records(datanew)

In [19]:
print(product_Col)
print(product_shape)

['PC_ITEM_NAME', 'PC_ITEM_GLUSR_USR_ID', 'FK_GLCAT_MCAT_ID', 'ITEM_MAPPING_ISPRIME', '\n', None, None, None]
(6138579, 8)

In [230]:
mcat = mcat.drop(mcat.index[0])

In [231]:
mcat.head(5)

,ETO_TRD_ALERT_ID,FK_GLUSR_USR_ID,FK_GLCAT_MCAT_ID,ETO_TRD_ALERT_DATE,ETO_TRD_ALERT_TYP,ETO_TRD_ALERT_LAST_SENT,ETO_TRD_ALERT_BY,ETO_TRD_ALERT_DISABLED_BY,ETO_TRD_ALERT_MODE,ETO_TRD_ALERT_RANK,...,ETO_TRD_ALERT_RANK_CLICK,ETO_TRD_ALERT_RANK_SHORTLIST,ETO_TRD_ALERT_RANK_COMPOSITE,ETO_BL_ALERT_EMAIL_LIMIT,ETO_BL_ALERT_SMS_LIMIT,ETO_BL_ALERT_APP_NOTIFY_LIMIT,GLCAT_MCAT_NAME,GLUSR_USR_LOC_PREF,GLUSR_USR_CUSTTYPE_ID,
1,61572501,3804464,13799,06-JUN-2017 23:25:39,B,,0,,1,A,...,,,D,169,168,24,Clay Figure,1,1,\n
2,61572516,8775423,29824,06-JUN-2017 23:25:39,B,,0,,1,C,...,,,D,2,168,12,Grinding Belts,2,1,\n
3,61572528,8775423,329,06-JUN-2017 23:25:39,B,,0,,1,C,...,,,D,2,168,12,Abrasive Wheels,2,1,\n
4,61572531,20031763,22760,06-JUN-2017 23:25:39,B,,0,,1,A,...,,,D,4,168,2,Backpacks,2,12,\n
5,61572534,40323318,56040,06-JUN-2017 23:25:39,B,,0,,1,B,...,,,D,4,168,2,Polypropylene Pouches,1,2,\n

In [233]:
mcat['FK_GLUSR_USR_ID'][0:5]

1     3804464
2     8775423
3     8775423
4    20031763
5    40323318
Name: FK_GLUSR_USR_ID, dtype: object

In [21]:
print(master_Col)
print(master_shape)

['GLUSR_USR_ID', 'GLUSR_USR_ADD1', 'GLUSR_USR_ADD2', 'GLUSR_USR_CITY', 'GLUSR_USR_STATE', 'FK_GL_COUNTRY_ISO', 'GLUSR_USR_ZIP', 'GLUSR_USR_YEAR_OF_ESTB', 'FK_GLUSR_TURNOVER_ID', 'GLUSR_USR_APPROV', 'GLUSR_USR_MODID', 'GLUSR_USR_IPADDRESS', 'FK_GL_STATE_ID', 'GLUSR_USR_STATE_OTHERS', 'GLUSR_USR_CITY_OTHERS', 'FCP_FLAG', 'FK_GLUSR_BIZ_IDS', 'GLUSR_USR_CUSTTYPE_ID', 'GLUSR_USR_CUSTTYPE_NAME', 'GLUSR_USR_CUSTTYPE_WEIGHT', 'GLUSR_USR_LONGITUDE', 'GLUSR_USR_LATITUDE', 'GLUSR_USR_LOCALITY', 'GLUSR_USR_LANDMARK', '\n', None, None]
(72068, 27)

In [ ]:
'GLUSR_USR_MODID', 'GLUSR_USR_IPADDRESS', 'FK_GL_STATE_ID''GLUSR_USR_CUSTTYPE_ID','GLUSR_USR_CUSTTYPE_NAME', 'GLUSR_USR_CUSTTYPE_WEIGHT','GLUSR_USR_LONGITUDE', 'GLUSR_USR_LATITUDE', 'GLUSR_USR_LOCALITY',

In [22]:
print(ofrD_Col)
print(ofrD.head(5))

['ETO_OFR_DISPLAY_ID', 'FK_GLUSR_USR_ID', 'ETO_OFR_DATE', 'ETO_OFR_LATITUDE', 'ETO_OFR_LONGITUDE', 'ETO_OFR_CALL_RECORDING_URL', 'ETO_OFR_CALL_DISPOSITION_TYPE', 'ETO_OFR_GEOGRAPHY_ID', 'ETO_OFR_GEOGRAPHY_NAME', 'ETO_OFR_CALL_DISPOSITION_ID', 'ETO_OFR_PROD_SERV', 'ETO_OFR_TITLE', 'ETO_OFR_EXP_DATE', 'ETO_OFR_SPEC', 'ETO_OFR_QTY', 'FK_GL_CONTINENT_ID', 'ETO_OFR_APPROV_DATE', 'ETO_OFR_DELETIONDATE', 'ETO_OFR_DELBYADMINORUSER', 'ETO_OFR_DELETEDBYID', 'ETO_OFR_CALL_DATE', 'FK_GL_COUNTRY_ISO', 'FK_GL_MODULE_ID', 'OFR_MCAT_NAME', 'OFR_CAT_NAME', '\n', None]
0  ETO_OFR_DISPLAY_ID  FK_GLUSR_USR_ID          ETO_OFR_DATE  \
0  ETO_OFR_DISPLAY_ID  FK_GLUSR_USR_ID          ETO_OFR_DATE
1         15397384063         22724754  12-JUL-2017 15:29:05
2         15436130963         44133091  13-JUL-2017 14:44:52
3         15567427134         18070394  21-JUL-2017 11:30:16
4         15623426767         26803272  25-JUL-2017 14:25:35

0  ETO_OFR_LATITUDE  ETO_OFR_LONGITUDE  \
0  ETO_OFR_LATITUDE  ETO_OFR_LONGITUDE
1         19.191477           72.82576
2
3
4

0                         ETO_OFR_CALL_RECORDING_URL  \
0                         ETO_OFR_CALL_RECORDING_URL
1  http://182.75.225.82/leaplink/LEAP_AUTO_NEW_AN...
2
3  http://182.75.225.82/leaplink/LEAP_INTENT_NEW_...
4

0  ETO_OFR_CALL_DISPOSITION_TYPE  ETO_OFR_GEOGRAPHY_ID  \
0  ETO_OFR_CALL_DISPOSITION_TYPE  ETO_OFR_GEOGRAPHY_ID
1                      Validated                     1
2                    Do Not Call                     2
3                      Validated                     1
4                    Do Not Call                     4

0  ETO_OFR_GEOGRAPHY_NAME  ETO_OFR_CALL_DISPOSITION_ID  ...   \
0  ETO_OFR_GEOGRAPHY_NAME  ETO_OFR_CALL_DISPOSITION_ID  ...
1                                                    0  ...
2                                                   16  ...
3                                                    0  ...
4                                                   16  ...

0  ETO_OFR_DELETIONDATE  ETO_OFR_DELBYADMINORUSER  ETO_OFR_DELETEDBYID  \
0  ETO_OFR_DELETIONDATE  ETO_OFR_DELBYADMINORUSER  ETO_OFR_DELETEDBYID
1  20-JUL-2017 00:25:46                        -1
2  21-JUL-2017 00:26:21                        -1
3  29-JUL-2017 00:07:02                        -1
4  02-AUG-2017 00:27:18                        -1

0  ETO_OFR_CALL_DATE  FK_GL_COUNTRY_ISO  FK_GL_MODULE_ID  \
0  ETO_OFR_CALL_DATE  FK_GL_COUNTRY_ISO  FK_GL_MODULE_ID
1                                    IN             FENQ
2                                    IN          ANDROID
3                                    IN             FENQ
4                                    IN             IMOB

0                 OFR_MCAT_NAME  \
0                 OFR_MCAT_NAME
1               Toughened Glass
2                 Mens T-Shirts
3  School Building Construction
4                Soap Dispenser

0                                       OFR_CAT_NAME  \n   NaN
0                                       OFR_CAT_NAME  \n  None
1  Glass: Stained Glass, Etched Glass, Laminated ...  \n  None
2   Men Shirts, T Shirts, Denims, Jeans and Garments  \n  None
3  Commercial Building, Roofing, Floor Repairs an...  \n  None
4  Soap Dispenser, Toothbrush, Tissue Holder, Bat...  \n  None

[5 rows x 27 columns]

In [23]:
print(purchase_Col)

['ETO_LEAD_PUR_ID', 'FK_GLUSR_USR_ID', 'ETO_PUR_DATE', 'FK_ETO_OFR_ID', 'ETO_CREDITS_USED', 'ETO_OFR_GLUSR_USR_ID', 'ETO_LEAD_FK_GL_MODULE_ID', 'ETO_LEAD_PUR_KEYWORD', 'ETO_LEAD_PUR_LAPSE_MSG', 'ETO_LEAD_PUR_MAIL_SENT', 'ETO_LEAD_SENT_THISTOMAIL', 'ETO_LEAD_PUR_IP', 'ETO_LEAD_PUR_IP_COUNTRY', 'ETO_LEAD_PUR_MODE', 'ETO_LEAD_PUR_IP_CITY', 'FK_ETO_AFL_ID', 'ETO_LEAD_PUR_AFL_SHARE', 'FK_ETO_AFL_PAYMENT_ID', 'ETO_LEAD_PUR_AFL_REV_SHARE', 'FK_ETO_OFR_DATE', 'ETO_AFL_CRD_REV_FLAG', 'ETO_LEAD_PUR_POSITION', 'ETO_LEAD_PUR_POSITION_URL', 'ETO_LEAD_PUR_TYPE', 'ETO_LEAD_PUR_READ_STATUS', 'ETO_LEAD_PUR_READ_DATE', 'ETO_LEAD_PUR_GA_VISITOR_ID', 'ETO_LEAD_CREDITS_AV', 'ETO_LEAD_PUR_CUST_SEGMENT', 'ETO_CUST_TYPE_WEIGHT', 'ETO_CUST_SEGMENT', 'ETO_LEAD_PUR_FIRST_READ_DATE', 'ETO_CREDITS_USED_LEADCNT', '\n']

In [24]:
print(allpresent(ofrD, purchase, 'ETO_OFR_DISPLAY_ID', 'FK_ETO_OFR_ID'))

191042

In [26]:
purchasen = purchase[varpurchase]

In [8]:
purchasen.head(5)

,ETO_LEAD_PUR_ID,FK_GLUSR_USR_ID,ETO_PUR_DATE,FK_ETO_OFR_ID,ETO_OFR_GLUSR_USR_ID,ETO_LEAD_FK_GL_MODULE_ID,ETO_LEAD_PUR_POSITION,ETO_LEAD_PUR_TYPE,ETO_LEAD_CREDITS_AV,ETO_CUST_TYPE_WEIGHT
0,ETO_LEAD_PUR_ID,FK_GLUSR_USR_ID,ETO_PUR_DATE,FK_ETO_OFR_ID,ETO_OFR_GLUSR_USR_ID,ETO_LEAD_FK_GL_MODULE_ID,ETO_LEAD_PUR_POSITION,ETO_LEAD_PUR_TYPE,ETO_LEAD_CREDITS_AV,ETO_CUST_TYPE_WEIGHT
1,34754108,1066127,10-JUL-2017 19:00:33,15397384063,22724754,MY,5,B,13000,199
2,34751522,35283853,10-JUL-2017 17:53:35,15397384063,22724754,ANDROID,0,B,1000,699
3,34756305,27478699,10-JUL-2017 20:19:38,15397384063,22724754,INSTANT,1,B,800,699
4,34785241,4063657,11-JUL-2017 15:48:13,15397384063,22724754,WITHINST,9,B,1000,149

In [28]:
mapping_shape, mapping, mapping_Col = fileopen(file7,"#")

In [33]:
mapping.head(5)

0  05-DEC-2017 10:44:22  18138130675   68  148633  82143373  148633  \n
0  05-DEC-2017 10:44:22  18138130675   68  148633  82143373  148633  \n
1  05-DEC-2017 10:44:22  18138130675   68   18297  82143374  148633  \n
2  05-DEC-2017 10:44:22  18138130675   68   99410  82143375  148633  \n
3  07-DEC-2017 10:42:24  18170017795    3    4904  82446026    4904  \n
4  23-DEC-2017 13:44:02  18494158359  587   11363  84959765   11363  \n

In [34]:
mapping.columns = ['ETO_OFR_MAPPING_DATE','FK_ETO_OFR_ID','FK_GLCAT_CAT_ID','FK_GLCAT_MCAT_ID','ETO_OFR_MAPPING_ID','PRIME_MCAT',"NA"]

In [35]:
mappingn = mapping[varmapping]

In [36]:
ofrDn = ofrD[varofrD]

In [37]:
purchasen.describe()

,ETO_LEAD_PUR_ID,FK_GLUSR_USR_ID,ETO_PUR_DATE,FK_ETO_OFR_ID,ETO_OFR_GLUSR_USR_ID,ETO_LEAD_FK_GL_MODULE_ID,ETO_LEAD_PUR_POSITION,ETO_LEAD_PUR_TYPE,ETO_LEAD_CREDITS_AV,ETO_CUST_TYPE_WEIGHT
count,519317,519317,519317,519317,519317,519317,519317,519317,519317,519317
unique,519317,65160,330751,191147,177038,19,578,2,1254,11
top,45755614,3293242,05-JAN-2018 10:50:53,18743502213,46216771,MY,1,B,1200,199
freq,1,221,13,42,95,201426,90596,519316,34669,221214

In [102]:
print(allpresent(mapping, purchase, 'FK_ETO_OFR_ID', 'FK_ETO_OFR_ID'))

191146

In [83]:
mapping.describe()

,ETO_OFR_MAPPING_DATE,FK_ETO_OFR_ID,FK_GLCAT_CAT_ID,FK_GLCAT_MCAT_ID,ETO_OFR_MAPPING_ID,PRIME_MCAT,nan
count,1057400,1057400,1057400,1057400,1057400,1057400,1057400
unique,268153,418082,685,57480,1057400,50290,1
top,05-JAN-2018 12:48:32,18696277867,164,2475,86673564,147396,\n
freq,24,47,19261,2708,1,2164,1057400

In [140]:
# frequency distribution of pandas series 
main_frame = purchasen['FK_ETO_OFR_ID'].value_counts(sort = True)

In [84]:
ofrD.describe()

,ETO_OFR_DISPLAY_ID,FK_GLUSR_USR_ID,ETO_OFR_DATE,ETO_OFR_LATITUDE,ETO_OFR_LONGITUDE,ETO_OFR_CALL_RECORDING_URL,ETO_OFR_CALL_DISPOSITION_TYPE,ETO_OFR_GEOGRAPHY_ID,ETO_OFR_GEOGRAPHY_NAME,ETO_OFR_CALL_DISPOSITION_ID,...,ETO_OFR_DELETIONDATE,ETO_OFR_DELBYADMINORUSER,ETO_OFR_DELETEDBYID,ETO_OFR_CALL_DATE,FK_GL_COUNTRY_ISO,FK_GL_MODULE_ID,OFR_MCAT_NAME,OFR_CAT_NAME,,0
count,418380,418380,418380,418380,418380,418380,418380,418380,418380,418380,...,418380,418380,418380,418380,418380,418380,418380,418380,418380,1
unique,417731,374663,266136,67263,63324,299012,5,7,3,5,...,45261,3,3,2,207,28,50255,686,2,1
top,18696277867,46216771,04-JAN-2018 15:32:16,,,,Validated,1,,0,...,07-JAN-2018 00:30:01,-1,,,IN,FENQ,Solar Power Panel,"Industrial Fabrication, Washing, Insulating, R...",\n,\n
freq,12,54,10,329814,329814,109208,304640,201882,418378,304640,...,68,418378,418378,418379,389437,214557,937,7788,418379,1

In [23]:
b = ["OFR_MCAT_NAME",'FK_GLUSR_USR_ID']

In [24]:
a = ofrDn[ofrDn['ETO_OFR_DISPLAY_ID'] == "15623426767"][b]

In [97]:
print(a)

0       OFR_MCAT_NAME FK_GLUSR_USR_ID
4      Soap Dispenser        26803272
80320  Soap Dispenser        26803272

In [81]:
# Collection unique values of transaction offer IDs # without list its ndarray

offeridu = list(purchasen['FK_ETO_OFR_ID'].unique())

In [83]:
offeridu.remove('FK_ETO_OFR_ID')

In [92]:
 offeridu = list(map(int, offeridu))

In [93]:
offeridu[1:5]

[15436130963, 15623426767, 15567427134, 16048770646]

In [40]:
vararray = ['FK_GLCAT_CAT_ID','FK_GLCAT_MCAT_ID','PRIME_MCAT']
parameter = 'FK_ETO_OFR_ID'
lead_mapping = slicingevent(offeridu, parameter, mapping, vararray)
lead_mapping.columns = ['FK_ETO_OFR_ID','FK_GLCAT_CAT_ID','FK_GLCAT_MCAT_ID','PRIME_MCAT']

In [41]:
lead_mapping.head(5)

   FK_ETO_OFR_ID FK_GLCAT_CAT_ID        FK_GLCAT_MCAT_ID      PRIME_MCAT
0  FK_ETO_OFR_ID              {}                      {}              {}
1    15397384063           {498}          {39959, 94587}         {39959}
2    15436130963           {239}  {136167, 2296, 181480}  {2296, 181480}
3    15623426767            {35}           {9564, 32233}          {9564}
4    15567427134           {835}  {23641, 37135, 167873}         {37135}

In [42]:
vararray = ['ETO_OFR_DATE','FK_GL_MODULE_ID', 'OFR_MCAT_NAME', 'OFR_CAT_NAME']
parameter = 'ETO_OFR_DISPLAY_ID'
lead_ofrDn = slicingevent(offeridu, parameter, ofrDn, vararray)
lead_ofrDn.columns = ['ETO_OFR_DISPLAY_ID','ETO_OFR_DATE','FK_GL_MODULE_ID', 'OFR_MCAT_NAME', 'OFR_CAT_NAME']

In [43]:
lead_ofrDn.head(5)

,ETO_OFR_DISPLAY_ID,ETO_OFR_DATE,FK_GL_MODULE_ID,OFR_MCAT_NAME,OFR_CAT_NAME
0,FK_ETO_OFR_ID,{},{},{},{}
1,15397384063,"{12-JUL-2017 15:29:05, 30-DEC-2017 20:34:36}","{, FENQ}",{Toughened Glass},"{Glass: Stained Glass, Etched Glass, Laminated..."
2,15436130963,"{01-JAN-2018 13:17:33, 13-JUL-2017 14:44:52}","{ANDROID, }","{Mens Cotton T-Shirt, Mens T-Shirts}","{Men Shirts, T Shirts, Denims, Jeans and Garme..."
3,15623426767,"{31-DEC-2017 13:08:19, 25-JUL-2017 14:25:35}","{, IMOB}",{Soap Dispenser},"{Soap Dispenser, Toothbrush, Tissue Holder, Ba..."
4,15567427134,"{04-JAN-2018 15:24:45, 21-JUL-2017 11:30:16}","{, FENQ}",{School Building Construction},"{Commercial Building, Roofing, Floor Repairs a..."

In [45]:
merge_offer1 = pd.merge(lead_ofrDn,lead_mapping,left_on= "ETO_OFR_DISPLAY_ID" , right_on="FK_ETO_OFR_ID" )

In [86]:
merge_offer1.head(5)

,ETO_OFR_DISPLAY_ID,ETO_OFR_DATE,FK_GL_MODULE_ID,OFR_MCAT_NAME,OFR_CAT_NAME,FK_ETO_OFR_ID,FK_GLCAT_CAT_ID,FK_GLCAT_MCAT_ID,PRIME_MCAT
1,15397384063,"{12-JUL-2017 15:29:05, 30-DEC-2017 20:34:36}","{, FENQ}",{Toughened Glass},"{Glass: Stained Glass, Etched Glass, Laminated...",15397384063,{498},"{39959, 94587}",{39959}
2,15436130963,"{01-JAN-2018 13:17:33, 13-JUL-2017 14:44:52}","{ANDROID, }","{Mens Cotton T-Shirt, Mens T-Shirts}","{Men Shirts, T Shirts, Denims, Jeans and Garme...",15436130963,{239},"{136167, 2296, 181480}","{2296, 181480}"
3,15623426767,"{31-DEC-2017 13:08:19, 25-JUL-2017 14:25:35}","{, IMOB}",{Soap Dispenser},"{Soap Dispenser, Toothbrush, Tissue Holder, Ba...",15623426767,{35},"{9564, 32233}",{9564}
4,15567427134,"{04-JAN-2018 15:24:45, 21-JUL-2017 11:30:16}","{, FENQ}",{School Building Construction},"{Commercial Building, Roofing, Floor Repairs a...",15567427134,{835},"{23641, 37135, 167873}",{37135}
5,16048770646,"{30-DEC-2017 11:00:09, 20-AUG-2017 16:48:26}","{, FENQ}",{Bridal Lehenga},"{Sarees, Lehenga, Ghaghra, Anarkali Suits & Sa...",16048770646,{224},"{113903, 5389, 3377, 11537}",{5389}

In [85]:
merge_offer1 = merge_offer1.drop(merge_offer1.index[0])

In [47]:
mcatwpur = fileopenxcel(file9,"Sheet1")

217210

In [62]:
mcatwpur1 = DataFrame.from_records(mcatwpur)

In [64]:
mcatwpur1.shape

(217210, 4)

In [65]:
mcatwpur1.head(10)

                   0                 1                        2         3
0  MONTH_OF_PURCHASE  YEAR_OF_PURCHASE          GLCAT_MCAT_NAME  COUNT(1)
1                 10              2017        1 Mukhi Rudraksha         1
2                 10              2017       11 Mukhi Rudraksha         2
3                 10              2017        1121 Basmati Rice        60
4                 10              2017   12 Channel ECG Machine        38
5                 10              2017       12 Mukhi Rudraksha         1
6                 10              2017       14 Mukhi Rudraksha         8
7                 10              2017       16 Mukhi Rudraksha         1
8                 10              2017  17-4 PH Stainless Steel         2
9                 10              2017     2 Phenylbutyric Acid         1

In [48]:
isqdesc1 = fileopenxcel(file10,"Sheet1")

1000001

In [49]:
isqdesc11 = DataFrame.from_records(isqdesc1)

In [50]:
isqdesc11.head(10)

,0,1,2,3
0,OFR_ID,ETO_OFR_DESC,FK_IM_SPEC_MASTER_DESC,FK_IM_SPEC_OPTIONS_DESC
1,15397384063,I want to buy Toughened Glass.\n\nKindly send ...,Color,Transparent
2,15397384063,I want to buy Toughened Glass.\n\nKindly send ...,Quantity,100
3,15397384063,I want to buy Toughened Glass.\n\nKindly send ...,Quantity Unit,Pieces
4,15397384063,I want to buy Toughened Glass.\n\nKindly send ...,Size,350*750 mm
5,15397384063,I want to buy Toughened Glass.\n\nKindly send ...,Thickness(mm),10.0
6,15436130963,"I want to buy Men T Shirts.\n\nSize: small,med...",Branded(Y/N),Yes
7,15436130963,"I want to buy Men T Shirts.\n\nSize: small,med...",Fabric,Cotton
8,15436130963,"I want to buy Men T Shirts.\n\nSize: small,med...",Material,Cotton
9,15436130963,"I want to buy Men T Shirts.\n\nSize: small,med...",Neck,Round

In [51]:
isqdesc2 = fileopenxcel(file11,"Sheet1")

802185

In [52]:
isqdesc21 = DataFrame.from_records(isqdesc2)

In [53]:
isqdesc21.head(10)

,0,1,2,3
0,OFR_ID,ETO_OFR_DESC,FK_IM_SPEC_MASTER_DESC,FK_IM_SPEC_OPTIONS_DESC
1,18726957146,I want to buy Bottle Filling Machine.\n\nKindl...,Currency,INR - Indian Rupee
2,18726957146,I want to buy Bottle Filling Machine.\n\nKindl...,Machine Capacity,60-240 bottles/min
3,18726957146,I want to buy Bottle Filling Machine.\n\nKindl...,Quantity,1
4,18726957146,I want to buy Bottle Filling Machine.\n\nKindl...,Usage/Application,Using for commercial
5,18726957375,I want to buy Designer Sofa.\n\nKindly send me...,Approximate Order Value,"3,000 to 10,000"
6,18726957375,I want to buy Designer Sofa.\n\nKindly send me...,Currency,INR - Indian Rupee
7,18726957375,I want to buy Designer Sofa.\n\nKindly send me...,Quantity,10
8,18726957375,I want to buy Designer Sofa.\n\nKindly send me...,Quantity Unit,Nos
9,18726957452,I want to buy T-shirt Printing Machine.\n\nKin...,Automation Grade,Automatic

In [54]:
frames = [isqdesc11, isqdesc21]

In [55]:
isqdesc = pd.concat(frames)

In [57]:
isqdesc.head(15)

,0,1,2,3
0,OFR_ID,ETO_OFR_DESC,FK_IM_SPEC_MASTER_DESC,FK_IM_SPEC_OPTIONS_DESC
1,15397384063,I want to buy Toughened Glass.\n\nKindly send ...,Color,Transparent
2,15397384063,I want to buy Toughened Glass.\n\nKindly send ...,Quantity,100
3,15397384063,I want to buy Toughened Glass.\n\nKindly send ...,Quantity Unit,Pieces
4,15397384063,I want to buy Toughened Glass.\n\nKindly send ...,Size,350*750 mm
5,15397384063,I want to buy Toughened Glass.\n\nKindly send ...,Thickness(mm),10.0
6,15436130963,"I want to buy Men T Shirts.\n\nSize: small,med...",Branded(Y/N),Yes
7,15436130963,"I want to buy Men T Shirts.\n\nSize: small,med...",Fabric,Cotton
8,15436130963,"I want to buy Men T Shirts.\n\nSize: small,med...",Material,Cotton
9,15436130963,"I want to buy Men T Shirts.\n\nSize: small,med...",Neck,Round
10,15436130963,"I want to buy Men T Shirts.\n\nSize: small,med...",Pattern,Plain
11,15436130963,"I want to buy Men T Shirts.\n\nSize: small,med...",Pattern,Printed
12,15436130963,"I want to buy Men T Shirts.\n\nSize: small,med...",Quantity,100
13,15436130963,"I want to buy Men T Shirts.\n\nSize: small,med...",Quantity,50
14,15436130963,"I want to buy Men T Shirts.\n\nSize: small,med...",Quantity Unit,Pieces

In [58]:
isqdesc.columns = ["OFR_ID","ETO_OFR_DESC","FK_IM_SPEC_MASTER_DESC","FK_IM_SPEC_OPTIONS_DESC"]

In [70]:
isqdesc = isqdesc.drop(isqdesc.index[0])

In [71]:
isqdesc.head(5)

,OFR_ID,ETO_OFR_DESC,FK_IM_SPEC_MASTER_DESC,FK_IM_SPEC_OPTIONS_DESC
1,15397384063,I want to buy Toughened Glass.\n\nKindly send ...,Color,Transparent
2,15397384063,I want to buy Toughened Glass.\n\nKindly send ...,Quantity,100
3,15397384063,I want to buy Toughened Glass.\n\nKindly send ...,Quantity Unit,Pieces
4,15397384063,I want to buy Toughened Glass.\n\nKindly send ...,Size,350*750 mm
5,15397384063,I want to buy Toughened Glass.\n\nKindly send ...,Thickness(mm),10.0

In [128]:
isqdesc.dtypes

OFR_ID                     object
ETO_OFR_DESC               object
FK_IM_SPEC_MASTER_DESC     object
FK_IM_SPEC_OPTIONS_DESC    object
dtype: object

In [195]:
vararray = ['ETO_OFR_DESC','FK_IM_SPEC_MASTER_DESC','FK_IM_SPEC_OPTIONS_DESC']
parameter = 'OFR_ID'
lead_isqdesc = slicingevent(offeridu, parameter, isqdesc, vararray)
#lead_mapping.columns = ['FK_ETO_OFR_ID','FK_GLCAT_CAT_ID','FK_GLCAT_MCAT_ID','PRIME_MCAT']

In [99]:
lead_isqdesc.head(15)

,OFR_ID,ETO_OFR_DESC,FK_IM_SPEC_MASTER_DESC,FK_IM_SPEC_OPTIONS_DESC
0,15397384063,[I want to buy Toughened Glass.\n\nKindly send...,"[Color, Quantity, Quantity Unit, Size, Thickne...","[Transparent, 100, Pieces, 350*750 mm, 10.0]"
1,15436130963,"[I want to buy Men T Shirts.\n\nSize: small,me...","[Branded(Y/N), Fabric, Material, Neck, Pattern...","[Yes, Cotton, Cotton, Round, Plain, Printed, 1..."
2,15623426767,[I want to buy Bathroom Metal Shop Dispenser.\...,"[Approximate Order Value, Body Material, Curre...","[1 to 2 Lakh, Glass, INR - Indian Rupee, 500, ..."
3,15567427134,[I am looking for service provider for School ...,"[Construction Material Procurement, Flour, No ...","[Customer End, Rooms 2nd Floor, 1, Within City..."
4,16048770646,[I want to buy Ladies Bridal Lehenga.\n\nKindl...,"[Approximate Order Value, Color, Color, Curren...","[10,000 to 20,000, All, All color, INR - India..."
5,16103990363,[I want to buy Trussless Roofing System.\n\nKi...,"[Approximate Order Value, Currency, Dimensions...","[2 to 5 Lakh, INR - Indian Rupee, 45*80, Durab..."
6,16190204134,[I want to buy SS 304 Impact Pulverizer.\n\nSp...,"[Approximate Order Value, Currency, Quantity, ...","[50,000 to 1 Lakh, INR - Indian Rupee, 1, Units]"
7,16305071763,[I want to buy Loop Tapes.\n\nKindly send me p...,"[Quantity, Quantity Unit, Size, Size]","[30, Cartons, 1 inch, 1/2 inch]"
8,16343904075,[I want to buy Band Saw Blades.\n\nKindly send...,"[Approximate Order Value, Currency, Quantity, ...","[20,000 to 50,000, INR - Indian Rupee, 15, 40,..."
9,16364727652,[I am looking for service provider for Pharma ...,"[Do you have Drug License, Do you have TIN no,...","[Yes, Yes, 1 to 5 Lakhs]"
10,16515148234,[I want to buy Woolen Rugs.\n \nKindly send me...,"[Approximate Order Value, Currency, Quantity, ...","[20 to 50 Lakh, INR - Indian Rupee, 100-200, T..."
11,16533253563,[I want to buy Acid Slurry.\n\nKindly send me ...,"[Application, Application, Grade Standard, Pac...","[Detergent Liquid, Detergent Powder, Class A, ..."
12,16866222885,[I want to buy Turbo Blowers.\n\nKindly send m...,"[Body Material, Power, Quantity, Quantity Unit]","[Aluminum, 9390617293, 9177782732, Nos]"
13,16988648859,[I want to buy Teflon Tape.\n\nKindly send me ...,"[Color, Color, Feature, Feature, Feature, Leng...","[Transparent, White, Antistatic, Heat Resistan..."
14,17037327163,[I want to buy Printed Corrugated Boxes.\n\nKi...,"[Material, Quantity, Quantity Unit, Shape, Sto...","[Paper, 4000, Nos, Rectangular, Edible, Inner ..."

In [98]:
lead_isqdesc.columns = ['OFR_ID','ETO_OFR_DESC','FK_IM_SPEC_MASTER_DESC','FK_IM_SPEC_OPTIONS_DESC']

In [248]:
merge_offer2 = merge_offer1.drop(merge_offer1.index[[0]])

In [249]:
merge_offer2.head(5)

,ETO_OFR_DISPLAY_ID,ETO_OFR_DATE,FK_GL_MODULE_ID,OFR_MCAT_NAME,OFR_CAT_NAME,FK_ETO_OFR_ID,FK_GLCAT_CAT_ID,FK_GLCAT_MCAT_ID,PRIME_MCAT
1,15397384063,"{12-JUL-2017 15:29:05, 30-DEC-2017 20:34:36}","{, FENQ}",{Toughened Glass},"{Glass: Stained Glass, Etched Glass, Laminated...",15397384063,{498},"{94587, 39959}",{39959}
2,15436130963,"{13-JUL-2017 14:44:52, 01-JAN-2018 13:17:33}","{, ANDROID}","{Mens T-Shirts, Mens Cotton T-Shirt}","{Men Shirts, T Shirts, Denims, Jeans and Garme...",15436130963,{239},"{2296, 136167, 181480}","{2296, 181480}"
3,15623426767,"{31-DEC-2017 13:08:19, 25-JUL-2017 14:25:35}","{, IMOB}",{Soap Dispenser},"{Soap Dispenser, Toothbrush, Tissue Holder, Ba...",15623426767,{35},"{9564, 32233}",{9564}
4,15567427134,"{21-JUL-2017 11:30:16, 04-JAN-2018 15:24:45}","{, FENQ}",{School Building Construction},"{Commercial Building, Roofing, Floor Repairs a...",15567427134,{835},"{23641, 37135, 167873}",{37135}
5,16048770646,"{30-DEC-2017 11:00:09, 20-AUG-2017 16:48:26}","{, FENQ}",{Bridal Lehenga},"{Sarees, Lehenga, Ghaghra, Anarkali Suits & Sa...",16048770646,{224},"{5389, 11537, 3377, 113903}",{5389}

In [250]:
merge_offer2.dtypes

ETO_OFR_DISPLAY_ID    object
ETO_OFR_DATE          object
FK_GL_MODULE_ID       object
OFR_MCAT_NAME         object
OFR_CAT_NAME          object
FK_ETO_OFR_ID         object
FK_GLCAT_CAT_ID       object
FK_GLCAT_MCAT_ID      object
PRIME_MCAT            object
dtype: object

In [110]:
lead_isqdesc['OFR_ID'] = lead_isqdesc['OFR_ID'].apply(str)

In [111]:
merge_offer1.shape

(299, 9)

In [106]:
lead_isqdesc.drop(lead_isqdesc.index[299])

,OFR_ID,ETO_OFR_DESC,FK_IM_SPEC_MASTER_DESC,FK_IM_SPEC_OPTIONS_DESC
0,15397384063,[I want to buy Toughened Glass.\n\nKindly send...,"[Color, Quantity, Quantity Unit, Size, Thickne...","[Transparent, 100, Pieces, 350*750 mm, 10.0]"
1,15436130963,"[I want to buy Men T Shirts.\n\nSize: small,me...","[Branded(Y/N), Fabric, Material, Neck, Pattern...","[Yes, Cotton, Cotton, Round, Plain, Printed, 1..."
2,15623426767,[I want to buy Bathroom Metal Shop Dispenser.\...,"[Approximate Order Value, Body Material, Curre...","[1 to 2 Lakh, Glass, INR - Indian Rupee, 500, ..."
3,15567427134,[I am looking for service provider for School ...,"[Construction Material Procurement, Flour, No ...","[Customer End, Rooms 2nd Floor, 1, Within City..."
4,16048770646,[I want to buy Ladies Bridal Lehenga.\n\nKindl...,"[Approximate Order Value, Color, Color, Curren...","[10,000 to 20,000, All, All color, INR - India..."
5,16103990363,[I want to buy Trussless Roofing System.\n\nKi...,"[Approximate Order Value, Currency, Dimensions...","[2 to 5 Lakh, INR - Indian Rupee, 45*80, Durab..."
6,16190204134,[I want to buy SS 304 Impact Pulverizer.\n\nSp...,"[Approximate Order Value, Currency, Quantity, ...","[50,000 to 1 Lakh, INR - Indian Rupee, 1, Units]"
7,16305071763,[I want to buy Loop Tapes.\n\nKindly send me p...,"[Quantity, Quantity Unit, Size, Size]","[30, Cartons, 1 inch, 1/2 inch]"
8,16343904075,[I want to buy Band Saw Blades.\n\nKindly send...,"[Approximate Order Value, Currency, Quantity, ...","[20,000 to 50,000, INR - Indian Rupee, 15, 40,..."
9,16364727652,[I am looking for service provider for Pharma ...,"[Do you have Drug License, Do you have TIN no,...","[Yes, Yes, 1 to 5 Lakhs]"
10,16515148234,[I want to buy Woolen Rugs.\n \nKindly send me...,"[Approximate Order Value, Currency, Quantity, ...","[20 to 50 Lakh, INR - Indian Rupee, 100-200, T..."
11,16533253563,[I want to buy Acid Slurry.\n\nKindly send me ...,"[Application, Application, Grade Standard, Pac...","[Detergent Liquid, Detergent Powder, Class A, ..."
12,16866222885,[I want to buy Turbo Blowers.\n\nKindly send m...,"[Body Material, Power, Quantity, Quantity Unit]","[Aluminum, 9390617293, 9177782732, Nos]"
13,16988648859,[I want to buy Teflon Tape.\n\nKindly send me ...,"[Color, Color, Feature, Feature, Feature, Leng...","[Transparent, White, Antistatic, Heat Resistan..."
14,17037327163,[I want to buy Printed Corrugated Boxes.\n\nKi...,"[Material, Quantity, Quantity Unit, Shape, Sto...","[Paper, 4000, Nos, Rectangular, Edible, Inner ..."
15,17193928275,[I want to buy RO UV UF Water Purifier in any ...,"[Automatic Grade, Capacity, Quantity, Quantity...","[Automatic, 10-20 Liter, 1, Nos]"
16,17477305375,[I want to buy Automatic HDPE Pipe Jointing Di...,"[Brand, Capacity]","[Hvhengineeringworks, 2ommto16ors7000.20to25or..."
17,17566496795,[I want to buy Hot Washed Pet Flakes.\n\nKindl...,"[Brand, Pack Size, Pack Type]","[Any, 30 Kg, Bag]"
18,17595182763,[I want to buy 2 Tyre Stainless Steel Hydrauli...,"[Quantity, Quantity Unit]","[1, Nos]"
19,17634766052,[I want to buy Food Steamers.\n\nKindly send m...,"[Approximate Order Value, Currency, Quantity, ...","[50,000 to 1 Lakh, INR - Indian Rupee, 1, Nos]"
20,17778496734,[I want to buy Mobile Tempered Glass Laser Cut...,"[Quantity, Quantity Unit]","[1, Units]"
21,17885521246,[I want to buy Crusher Jaw Plates.\n\nKindly s...,"[Grade, Size]","[7 And 3, Different Size]"
22,17828305246,[I want to buy Ms Caster Wheels.\n\nKindly sen...,"[Load Capacity (Kg), Quantity, Quantity Unit, ...","[150-200 Kg, 50, Pieces, Nylon]"
23,17927707563,[I want to buy Mini Penguin Dustbin.\n\nKindly...,"[Color, Material, Quantity, Quantity Unit, Siz...","[Black And White, FRP, 10, Nos, 25 Litres, For..."
24,17963361546,[I want to buy Stainless Steel Kadai Handle.\n...,"[Color, Size]","[Aluminium And SS, 2 Sizes Large And Medium]"
25,18075671834,[I want to buy Laparoscopic Clip Applicator.\n...,"[Quantity, Quantity Unit]","[1, Nos]"
26,17991865163,[I want to buy Plastic Water Bucket.\n\nKindly...,[None],[None]
27,18157300634,[I want to buy Kids School Uniforms.\n\nI will...,"[Approximate Order Value, Color, Currency, Size]","[50 Lakh to 1 Crore, Mix Color, INR - Indian R..."
28,18166456163,[I want to buy SanDisk Pen Drive.\n\nKindly se...,"[Color, Material, Memory Size, Quantity, Quant...","[red, Plastic, 4gb,8gb,16gb And 32gb, 10, Nos]"
29,18131551867,[I want to buy Ayurvedic Alcohol De Addiction ...,"[Packaging Size, Quantity, Quantity Unit]","[daily packings, 25, Nos]"
...,...,...,...,...
269,18539423363,[I want to buy Pressure Booster Pumps.\n\nKind...,"[Quantity, Quantity Unit]","[1, Nos]"
270,18548364346,[I want to buy Hot Melt Pressure Sensitive Adh...,[None],[None]
271,18471376867,[I am looking for service provider for Industr...,"[Gender Preferred, Manpower Required, Qualific...","[Male, 3, +2]"
272,18541022767,[I want to buy Bajaj Bike Gear.\n\nKindly send...,[None],[None]
273,18533680334,[I want to buy Flooring Sheet or Tiles.\n\nKin...,"[Finish, Material, Size (Square feet)]","[Wooden Type, Wooden Or PVC, 300 Square Feet]"
274,18546100059,[I want to buy Peristaltic Pump.\n\nKindly sen...,"[Quantity, Quantity Unit]","[6, Nos]"
275,18541278267,[I want to buy Hydraulic Test Benches.\n\nKind...,"[Approximate Order Value, Currency, Quantity, ...","[1000 to 3000, USD - U.S Dollar, 1, Nos, To Be..."
276,18539907859,[I want to buy Ladies Panty.\nIt will be my we...,"[Approximate Order Value, Brand, Color, Curren...","[10,000 to 20,000, Momin And Jasmine, All Colo..."
277,18539448363,[I am looking for service provider for Substat...,[None],[None]
278,18530288875,[I want to buy Automatic Sheet Rolling Machine...,"[Automatic Grade, Automatic Grade, Machine Typ...","[Automatic, Semi-Automatic, Cold Rolling, 1-3 ..."
279,18529975059,[I want to buy Paver Block Shot Blasting Machi...,[None],[None]
280,18522212559,[I want to buy Evolis Primacy PVC Card Printer...,"[Sided Printing, Warranty]","[Dual Side, Yes]"
281,18530596075,[I want to buy Vadilal Kesar Mango Pulp.\n\nKi...,[None],[None]
282,18553733685,[I want to buy TOS Double Column Vertical Turn...,[Model],[SK-16]
283,18541105495,[I want to buy Siemens CT Scan Machine.\n\nWar...,"[Quantity, Quantity Unit]","[1, Units]"
284,18521080075,[I want to buy Cylindrical Vertical Open Tops ...,[None],[None]
285,18544646685,[I want to buy Kids Doctor Kit and Wooden Chin...,"[Approximate Order Value, Currency, Quantity, ...","[10,000 to 20,000, INR - Indian Rupee, 50, Nos]"
286,18535951963,[I want to buy Nipro Blood Tubing Set.\n\nKind...,"[Brand, Quantity, Quantity Unit, Sterilized, T...","[Blood tubing set A131R/ V700 R, 20000, Pieces..."
287,18450446763,"[I want to buy Ladies Fashion,Leather and Bead...","[Brand, Color, Quantity, Quantity Unit, Size]","[All, All, 200, Nos, All]"
288,18570407775,[I want to buy Cake Display Counter.\n\nKindly...,"[Brand, Quantity, Quantity Unit]","[Any, 1, Nos]"
289,18569212363,[I want to buy Multi Mechanical Seal.\n\nKind...,"[Approximate Order Value, Brand, Currency, Qua...","[Upto 1000, Colossus, USD - U.S Dollar, 03, Pi..."
290,18569263867,[I want to buy Pad Printing Machine.\n\nI want...,"[Condition, Machine Type, Quantity, Quantity U...","[Used, Automatic, 1, Nos]"
291,18559003034,[I want to buy Natural Yellow Sapphire.\n\nKin...,"[Approximate Order Value, Brand, Carat, Curren...","[20,000 to 50,000, Ceylon, 5, INR - Indian Rup..."
292,18559228034,[I want to buy ELGI Air Compressors.\n\nKindly...,"[Accessories, Approximate Order Value, Compres...","[Filter, 20,000 to 50,000, ELGI, New, INR - In..."
293,18555977067,[I want to buy Dynamic Pass Box.\n\nKindly sen...,"[Quantity, Quantity Unit]","[200, Kilogram]"
294,18569986467,[I am Looking for Training Simulators.\n\nKind...,[None],[None]
295,18569427313,[I want to buy BIS Certification Consultant.\n...,"[Type of Certification, Type of Industry, Type...","[New Certification, Chemical, Any]"
296,18554577013,[I want to buy USB Cable.\n\nKindly send me pr...,"[Approximate Order Value, Cable Size, Color, C...","[10,000 to 20,000, 1 mtr, black, INR - Indian ..."
297,18560750946,[I want to buy Boiler Accessories.\n\nKindly s...,[None],[None]
298,18569460546,[I want to buy Double Braided Nylon Rope.\n\nK...,"[Color, Diameter, Length, Quantity, Quantity U...","[brown and black, 10-20 mm, 50-100 m/reel, 100..."

In [112]:
merge_offer = pd.merge(merge_offer1,lead_isqdesc,left_on= "ETO_OFR_DISPLAY_ID" , right_on="OFR_ID" )

In [113]:
merge_offer.head(5)

,ETO_OFR_DISPLAY_ID,ETO_OFR_DATE,FK_GL_MODULE_ID,OFR_MCAT_NAME,OFR_CAT_NAME,FK_ETO_OFR_ID,FK_GLCAT_CAT_ID,FK_GLCAT_MCAT_ID,PRIME_MCAT,OFR_ID,ETO_OFR_DESC,FK_IM_SPEC_MASTER_DESC,FK_IM_SPEC_OPTIONS_DESC
0,15397384063,"{12-JUL-2017 15:29:05, 30-DEC-2017 20:34:36}","{, FENQ}",{Toughened Glass},"{Glass: Stained Glass, Etched Glass, Laminated...",15397384063,{498},"{39959, 94587}",{39959},15397384063,[I want to buy Toughened Glass.\n\nKindly send...,"[Color, Quantity, Quantity Unit, Size, Thickne...","[Transparent, 100, Pieces, 350*750 mm, 10.0]"
1,15436130963,"{01-JAN-2018 13:17:33, 13-JUL-2017 14:44:52}","{ANDROID, }","{Mens Cotton T-Shirt, Mens T-Shirts}","{Men Shirts, T Shirts, Denims, Jeans and Garme...",15436130963,{239},"{136167, 2296, 181480}","{2296, 181480}",15436130963,"[I want to buy Men T Shirts.\n\nSize: small,me...","[Branded(Y/N), Fabric, Material, Neck, Pattern...","[Yes, Cotton, Cotton, Round, Plain, Printed, 1..."
2,15623426767,"{31-DEC-2017 13:08:19, 25-JUL-2017 14:25:35}","{, IMOB}",{Soap Dispenser},"{Soap Dispenser, Toothbrush, Tissue Holder, Ba...",15623426767,{35},"{9564, 32233}",{9564},15623426767,[I want to buy Bathroom Metal Shop Dispenser.\...,"[Approximate Order Value, Body Material, Curre...","[1 to 2 Lakh, Glass, INR - Indian Rupee, 500, ..."
3,15567427134,"{04-JAN-2018 15:24:45, 21-JUL-2017 11:30:16}","{, FENQ}",{School Building Construction},"{Commercial Building, Roofing, Floor Repairs a...",15567427134,{835},"{23641, 37135, 167873}",{37135},15567427134,[I am looking for service provider for School ...,"[Construction Material Procurement, Flour, No ...","[Customer End, Rooms 2nd Floor, 1, Within City..."
4,16048770646,"{30-DEC-2017 11:00:09, 20-AUG-2017 16:48:26}","{, FENQ}",{Bridal Lehenga},"{Sarees, Lehenga, Ghaghra, Anarkali Suits & Sa...",16048770646,{224},"{113903, 5389, 3377, 11537}",{5389},16048770646,[I want to buy Ladies Bridal Lehenga.\n\nKindl...,"[Approximate Order Value, Color, Color, Curren...","[10,000 to 20,000, All, All color, INR - India..."

In [142]:
purchasen.head(5)

,purchasen_date,purchasen_time,ETO_LEAD_PUR_ID,FK_GLUSR_USR_ID,ETO_PUR_DATE,FK_ETO_OFR_ID,ETO_OFR_GLUSR_USR_ID,ETO_LEAD_FK_GL_MODULE_ID,ETO_LEAD_PUR_POSITION,ETO_LEAD_PUR_TYPE,ETO_LEAD_CREDITS_AV,ETO_CUST_TYPE_WEIGHT
0,10-JUL-2017,19:00:33,ETO_LEAD_PUR_ID,FK_GLUSR_USR_ID,ETO_PUR_DATE,FK_ETO_OFR_ID,ETO_OFR_GLUSR_USR_ID,ETO_LEAD_FK_GL_MODULE_ID,ETO_LEAD_PUR_POSITION,ETO_LEAD_PUR_TYPE,ETO_LEAD_CREDITS_AV,ETO_CUST_TYPE_WEIGHT
1,10-JUL-2017,17:53:35,34754108,1066127,10-JUL-2017 19:00:33,15397384063,22724754,MY,5,B,13000,199
2,10-JUL-2017,20:19:38,34751522,35283853,10-JUL-2017 17:53:35,15397384063,22724754,ANDROID,0,B,1000,699
3,11-JUL-2017,15:48:13,34756305,27478699,10-JUL-2017 20:19:38,15397384063,22724754,INSTANT,1,B,800,699
4,14-JUL-2017,13:50:36,34785241,4063657,11-JUL-2017 15:48:13,15397384063,22724754,WITHINST,9,B,1000,149

In [ ]:
purchasen = purchasen.drop(purchasen.)

In [11]:
 a= purchasen["FK_GLUSR_USR_ID"].value_counts()

In [17]:
 b= purchasen["FK_ETO_OFR_ID"].value_counts()

In [12]:
a1 = a.value_counts()

In [18]:
b1 = b.value_counts()

In [19]:
b1.head(25)

1     82288
2     39718
3     22851
4     13651
5      9179
10     7097
6      6311
7      4356
8      3123
9      2296
11      131
12       42
13       32
14       24
15       15
20        7
18        6
19        6
16        5
17        4
21        2
27        1
22        1
42        1
Name: FK_ETO_OFR_ID, dtype: int64

In [ ]:
a1.plot.bar()
plt.pyplot.show()

In [22]:
purchasen['ETO_LEAD_PUR_POSITION'].value_counts()

1                        90596
2                        50488
0                        45929
3                        35915
                         29011
4                        27815
5                        23109
6                        19554
7                        16891
8                        14911
9                        13338
10                       12488
11                        8627
12                        7158
13                        6394
14                        6060
15                        5562
16                        5213
17                        4808
18                        4510
19                        4387
20                        3696
21                        3514
22                        3377
23                        3356
25                        3318
24                        3234
26                        2364
27                        2217
28                        2087
                         ...
411                          1
637                          1
934                          1
926                          1
1388                         1
463                          1
536                          1
1548                         1
280                          1
561                          1
350                          1
1589                         1
1585                         1
1028                         1
1398                         1
810                          1
842                          1
1006                         1
621                          1
428                          1
882                          1
451                          1
779                          1
659                          1
797                          1
ETO_LEAD_PUR_POSITION        1
581                          1
932                          1
708                          1
747                          1
Name: ETO_LEAD_PUR_POSITION, dtype: int64

In [23]:
purchasen['ETO_LEAD_FK_GL_MODULE_ID'].value_counts()

MY                          201426
ANDROID                     170200
WITHINST                     34338
IOS                          26011
MORNING                      23297
LEVENING                     17761
IMOB                         15078
EMORNING                     10660
AUTOINST                     10019
ETO                           4683
EMKTG                         2890
FUSIONI                       2558
FUSIONW                        248
FUSIONB                         52
FUSIOND                         46
BigBuyer                        25
HELLOTD                         20
INSTANT                          4
ETO_LEAD_FK_GL_MODULE_ID         1
Name: ETO_LEAD_FK_GL_MODULE_ID, dtype: int64

In [24]:
purchasen['ETO_CUST_TYPE_WEIGHT'].value_counts()

199                     221214
699                     212396
149                      46360
179                      30691
3299                      4121
1299                      3491
1499                       526
1399                       381
1500                       104
1899                        32
ETO_CUST_TYPE_WEIGHT         1
Name: ETO_CUST_TYPE_WEIGHT, dtype: int64

In [119]:
sentmail_shape,sentmail,sentmail_Col = fileopen(file12, ";")

In [150]:
sentmail.head(5)

  sentmail_date sentmail_time Seller_ID     Offer_ID             Sent_date  Na
0   02-jan-2018      09:43:37   8446302  18684212246  02-jan-2018 09:43:37  \n
1   02-jan-2018      09:43:37   8446302  18684212246  02-jan-2018 09:43:37  \n
2   02-jan-2018      09:43:37   8446302  18678627834  02-jan-2018 09:43:37  \n
3   02-jan-2018      09:43:37   8446302  18678627834  02-jan-2018 09:43:37  \n
4   02-jan-2018      09:43:37   8446302  18678319459  02-jan-2018 09:43:37  \n

In [147]:
sentmail.columns = ['Seller_ID',"Offer_ID", "Sent_date","Na"]

In [121]:
openrate_shape, openrate, openrate_Col = fileopen(file13, ";")

In [144]:
sentmail_shape

(12150613, 4)

In [125]:
openrate = openrate.drop(openrate.index[0])

In [126]:
openrate.head(5)

,"""mail_recv_glid""","""mail_uid""","""mail_request_date""","""mail_first_open_date"""
1,1590971,"""ALRT-1590971-20180102050139-85""","""2018-01-02 17:16:42""","""2018-01-10 11:27:44.931236""\n"
2,1590971,"""ALRT-1590971-20180102090159-25""","""2018-01-02 21:21:02""","""2018-01-10 11:27:55.063449""\n"
3,1590971,"""ALRT-1590971-20180102070142-96""","""2018-01-02 19:17:45""","""2018-01-10 11:27:55.066372""\n"
4,48516,"""ALRT-48516-20180103100102-66""","""2018-01-03 10:41:08""","""2018-01-10 11:36:10.105602""\n"
5,13144663,"""ALRT-13144663-20180103010156-92""","""2018-01-03 13:15:58""","""2018-01-28 08:51:00.515391""\n"

In [141]:
datetimesplit(purchasen,'ETO_PUR_DATE','purchasen_time','purchasen_date')

In [139]:
datetimesplit(openrate,'"mail_request_date"','"openrate_time"','"openrate_date"')

In [149]:
datetimesplit(sentmail,'Sent_date','sentmail_time','sentmail_date')

In [140]:
openrate.head(5)

,"""openrate_date""","""openrate_time""","""mail_recv_glid""","""mail_uid""","""mail_request_date""","""mail_first_open_date"""
1,"""2018-01-02","21:21:02""",1590971,"""ALRT-1590971-20180102050139-85""","""2018-01-02 17:16:42""","""2018-01-10 11:27:44.931236""\n"
2,"""2018-01-02","19:17:45""",1590971,"""ALRT-1590971-20180102090159-25""","""2018-01-02 21:21:02""","""2018-01-10 11:27:55.063449""\n"
3,"""2018-01-03","10:41:08""",1590971,"""ALRT-1590971-20180102070142-96""","""2018-01-02 19:17:45""","""2018-01-10 11:27:55.066372""\n"
4,"""2018-01-03","13:15:58""",48516,"""ALRT-48516-20180103100102-66""","""2018-01-03 10:41:08""","""2018-01-10 11:36:10.105602""\n"
5,"""2018-01-02","15:33:39""",13144663,"""ALRT-13144663-20180103010156-92""","""2018-01-03 13:15:58""","""2018-01-28 08:51:00.515391""\n"

In [143]:
openrate_shape

(303530, 4)

In [157]:
citydict = fileopenxcel(file14, "Sheet1")

29202

In [158]:
citydict1 = DataFrame.from_records(citydict)

In [159]:
citydict1.head(5)

            0             1                  2
0  GL_CITY_ID  GL_CITY_NAME  FK_GL_COUNTRY_ISO
1       89609      Brewster                 US
2       89616        Dedham                 US
3       89622    Fall River                 US
4       89628    Gloucester                 US

In [168]:
citydict1.columns = ['GL_CITY_ID','GL_CITY_NAME','FK_GL_COUNTRY_ISO']

In [162]:
citydict = citydict1.drop(citydict1.index[0])

In [163]:
mactdict = fileopenxcel(file15, "Sheet1")

102098

In [165]:
mcatdict = DataFrame.from_records(mactdict)

In [171]:
mcatdict.head(5)

,GLCAT_MCAT_ID,GLCAT_MCAT_NAME,GLCAT_CAT_NAME
1,2046,HDPE Pipes,"Pipes: Plastic, PVC, Fiber Reinforced Plastic,..."
2,2063,Metal Gauges,"Pressure Gauges, Vacuum Gauges, Precision Gaug..."
3,2071,Hot Stamping Machine,"Stamping, Stamping Tools, Machines & Parts"
4,2074,Plate Bender,Printing & Allied Machinery & Equipment
5,2082,Metering Pumps,"Submersible Pumps, Centrifugal, Monoblock, Die..."

In [169]:
mcatdict.columns = ['GLCAT_MCAT_ID','GLCAT_MCAT_NAME','GLCAT_CAT_NAME']

In [170]:
mcatdict = mcatdict.drop(citydict1.index[0])

In [173]:
# Collection unique values of Seller GLUSER IDs # without list its ndarray

selleridu = list(purchasen["FK_GLUSR_USR_ID"].unique())

In [174]:
len(selleridu)

65160

In [210]:
selleridu[0:5]

['1066127', '35283853', '27478699', '4063657', '9496766']

In [176]:
selleridu.remove('FK_GLUSR_USR_ID')

In [209]:
selleridu = list(map(str, selleridu))

In [212]:
mastern = master[varmaster]

In [208]:
#s = mastern["GLUSR_USR_ID"]
#mastern["GLUSR_USR_ID"] = pd.to_numeric(s)

/Users/Abhijeet/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [217]:
vararray = ['GLUSR_USR_CITY','GLUSR_USR_STATE','FK_GL_COUNTRY_ISO','GLUSR_USR_YEAR_OF_ESTB','GLUSR_USR_MODID', 
             'GLUSR_USR_IPADDRESS', 'FK_GL_STATE_ID','GLUSR_USR_CUSTTYPE_ID','GLUSR_USR_CUSTTYPE_NAME','GLUSR_USR_CUSTTYPE_WEIGHT',
             'GLUSR_USR_LONGITUDE', 'GLUSR_USR_LATITUDE', 'GLUSR_USR_LOCALITY']
parameter = 'GLUSR_USR_ID'
seller_genifo = slicingevent(selleridu, parameter, mastern, vararray)

In [190]:
master = master.drop(master.index[0])

In [196]:
mastern.head(5)

,GLUSR_USR_ID,GLUSR_USR_CITY,GLUSR_USR_STATE,FK_GL_COUNTRY_ISO,GLUSR_USR_YEAR_OF_ESTB,GLUSR_USR_MODID,GLUSR_USR_IPADDRESS,FK_GL_STATE_ID,GLUSR_USR_CUSTTYPE_ID,GLUSR_USR_CUSTTYPE_NAME,GLUSR_USR_CUSTTYPE_WEIGHT,GLUSR_USR_LONGITUDE,GLUSR_USR_LATITUDE,GLUSR_USR_LOCALITY
1,1145,Howrah,West Bengal,IN,1993,DIR,192.168.2.90,6501,2,CATALOG,699,88.326031,22.570149,G T Road
2,6363,Dera bassi,Punjab,IN,2002,FRL,192.168.2.90,6495,1,TSCATALOG,199,76.855135,30.609044,Focal Point
3,7030,Delhi,Delhi,IN,1970,ETO,115.111.173.186,6478,2,CATALOG,699,,,Shahdara
4,6616,Unjha,Gujarat,IN,1973,FRL,111.93.32.114,6480,2,CATALOG,699,72.3797733,23.80083326,
5,1095,Bengaluru,Karnataka,IN,2012,DIR,103.37.80.44,6485,2,CATALOG,699,77.5710122,12.943395,Basavanagudi

In [224]:
seller_genifo.shape

(300, 14)

In [219]:
seller_genifo.columns = ['GLUSR_USR_ID','GLUSR_USR_CITY','GLUSR_USR_STATE','FK_GL_COUNTRY_ISO','GLUSR_USR_YEAR_OF_ESTB','GLUSR_USR_MODID', 
             'GLUSR_USR_IPADDRESS', 'FK_GL_STATE_ID','GLUSR_USR_CUSTTYPE_ID','GLUSR_USR_CUSTTYPE_NAME','GLUSR_USR_CUSTTYPE_WEIGHT',
             'GLUSR_USR_LONGITUDE', 'GLUSR_USR_LATITUDE', 'GLUSR_USR_LOCALITY']

In [246]:
allpresent(purchasen1, sentmail,"FK_GLUSR_USR_ID", 'Seller_ID')

21253

In [236]:
allpresent(master, mcat,'GLUSR_USR_ID','FK_GLUSR_USR_ID')

71801

In [241]:
value = ['INSTANT', 'WITHINST', 'EMORNING', 'MORNING','LEVENING','AUTOINST']
purchasen1 = purchasen.loc[purchasen['ETO_LEAD_FK_GL_MODULE_ID'].isin(value)]

In [247]:
purchasen1.head(50)

,purchasen_date,purchasen_time,ETO_LEAD_PUR_ID,FK_GLUSR_USR_ID,ETO_PUR_DATE,FK_ETO_OFR_ID,ETO_OFR_GLUSR_USR_ID,ETO_LEAD_FK_GL_MODULE_ID,ETO_LEAD_PUR_POSITION,ETO_LEAD_PUR_TYPE,ETO_LEAD_CREDITS_AV,ETO_CUST_TYPE_WEIGHT
3,11-JUL-2017,15:48:13,34756305,27478699,10-JUL-2017 20:19:38,15397384063,22724754,INSTANT,1,B,800,699
4,14-JUL-2017,13:50:36,34785241,4063657,11-JUL-2017 15:48:13,15397384063,22724754,WITHINST,9,B,1000,149
7,25-JUL-2017,14:45:54,34870107,37655252,13-JUL-2017 16:56:00,15436130963,44133091,INSTANT,1,B,400,699
11,23-AUG-2017,23:10:48,37197664,13892530,22-AUG-2017 22:27:16,16048770646,39225644,INSTANT,1,B,2600,699
13,24-AUG-2017,10:19:09,37239157,11051948,23-AUG-2017 19:31:47,16103990363,6800733,WITHINST,8,B,6600,149
16,07-SEP-2017,13:24:19,38065490,10041040,04-SEP-2017 15:03:50,16305071763,7622730,INSTANT,1,B,8000,699
31,10-OCT-2017,12:11:35,40139098,29404504,10-OCT-2017 11:00:57,16988648859,36063427,AUTOINST,1,B,8000,199
32,10-OCT-2017,11:37:20,40144693,2148816,10-OCT-2017 12:11:35,16988648859,36063427,AUTOINST,1,B,7600,199
34,10-OCT-2017,13:05:18,40153377,649186,10-OCT-2017 14:21:22,16988648859,36063427,WITHINST,10,B,28200,149
51,09-NOV-2017,07:38:10,41454859,510002,03-NOV-2017 14:46:48,17477305375,20956130,WITHINST,3,B,400,199
53,18-NOV-2017,12:12:30,41929883,35879,11-NOV-2017 11:35:03,17634766052,17859966,AUTOINST,1,B,1400,179
55,19-NOV-2017,18:18:26,42662937,3612036,22-NOV-2017 13:29:45,17885521246,1812971,MORNING,1,B,9000,199
57,24-NOV-2017,11:30:47,42541188,1073364,20-NOV-2017 08:29:36,17828305246,35288855,LEVENING,4,B,8400,199
60,24-NOV-2017,10:23:23,42545612,702707,20-NOV-2017 10:17:37,17828305246,35288855,WITHINST,10,B,12800,199
63,24-NOV-2017,10:16:13,42681869,1113752,22-NOV-2017 18:17:24,17885521246,1812971,MORNING,1,B,10200,199
65,19-NOV-2017,16:09:53,42774279,26589654,24-NOV-2017 17:13:50,17927707563,12812974,EMORNING,4,B,3200,699
70,19-NOV-2017,17:44:03,42529006,717269,19-NOV-2017 15:24:08,17828305246,35288855,AUTOINST,1,B,800,699
72,26-NOV-2017,16:02:46,42721487,1460413,23-NOV-2017 16:09:37,17885521246,1812971,WITHINST,5,B,9000,199
77,07-DEC-2017,14:57:28,42972287,5098179,26-NOV-2017 21:24:11,17963361546,7956967,MORNING,2,B,800,699
78,07-DEC-2017,01:32:00,43600648,22940608,07-DEC-2017 14:57:28,18157300634,52876175,AUTOINST,1,B,600,699
80,05-DEC-2017,16:54:23,43518357,6194675,05-DEC-2017 18:30:29,18131551867,52789814,WITHINST,3,B,600,699
84,05-DEC-2017,15:23:52,43616244,45325513,07-DEC-2017 19:25:50,18187978363,35918927,LEVENING,1,B,4800,3299
89,16-DEC-2017,10:15:38,44146492,1794555,16-DEC-2017 13:37:30,18347570885,45904487,EMORNING,1,B,1000,199
97,14-DEC-2017,18:12:07,44011471,3529044,13-DEC-2017 21:56:32,18290669185,5638821,LEVENING,6,B,2200,199
116,15-DEC-2017,10:20:48,44021472,119297,14-DEC-2017 10:57:04,18290669185,5638821,LEVENING,1,B,16200,179
121,17-DEC-2017,13:20:41,44314859,31357531,17-DEC-2017 21:42:35,18378264659,51157753,LEVENING,6,B,1000,699
123,18-DEC-2017,12:01:31,44311179,6214612,17-DEC-2017 19:08:14,18365358395,5638821,WITHINST,10,B,4000,199
124,17-DEC-2017,19:22:21,44333932,21970364,18-DEC-2017 12:01:31,18365358395,5638821,LEVENING,1,B,3200,699
128,18-DEC-2017,03:48:00,44366951,32092044,18-DEC-2017 19:20:02,18393737995,20837624,AUTOINST,1,B,4400,699
129,17-DEC-2017,19:43:50,44317495,2713154,18-DEC-2017 03:48:00,18367359085,49459297,WITHINST,8,B,23000,199
130,17-DEC-2017,12:42:09,44312136,1010339,17-DEC-2017 19:43:50,18365358395,5638821,WITHINST,4,B,6000,179
135,18-DEC-2017,18:31:54,44359056,622313,18-DEC-2017 17:05:43,18367359085,49459297,EMORNING,8,B,9400,149
141,17-DEC-2017,22:58:24,44336706,38090735,18-DEC-2017 12:27:46,18382930075,34197998,WITHINST,2,B,1200,699
146,17-DEC-2017,14:53:12,44311605,909966,17-DEC-2017 19:23:46,18365358395,5638821,MORNING,1,B,1200,699
150,17-DEC-2017,19:08:03,44331831,9143192,18-DEC-2017 11:41:01,18382930075,34197998,AUTOINST,1,B,1200,699
151,19-DEC-2017,17:23:45,44311174,4246365,17-DEC-2017 19:08:03,18365358395,5638821,WITHINST,2,B,6800,699
153,19-DEC-2017,12:43:40,44373365,1944863,18-DEC-2017 22:52:19,18393737995,20837624,LEVENING,1,B,7800,199
157,19-DEC-2017,10:55:08,44372307,27090418,18-DEC-2017 22:02:13,18310681746,20837624,LEVENING,5,B,1000,699
160,19-DEC-2017,13:39:18,44419986,32405730,19-DEC-2017 18:13:36,18409755395,40250369,WITHINST,8,B,1200,699
162,20-DEC-2017,14:19:08,44400121,646858,19-DEC-2017 13:55:15,18405480195,13556996,WITHINST,3,B,800,699
163,20-DEC-2017,14:07:30,44460260,170367,20-DEC-2017 14:19:08,18419763013,10077770,MORNING,1,B,17000,199
172,20-DEC-2017,14:39:09,44413716,25117688,19-DEC-2017 16:45:23,18405480195,13556996,WITHINST,2,B,3800,699
175,23-DEC-2017,14:10:40,44572833,19177418,22-DEC-2017 12:25:00,18460290646,53033003,LEVENING,1,B,600,699
186,26-DEC-2017,13:03:11,44936269,1134516,26-DEC-2017 18:22:56,18549506995,52008294,MORNING,1,B,8800,149
187,26-DEC-2017,12:52:25,44911675,356782,26-DEC-2017 13:03:11,18543920652,5955624,EMORNING,1,B,10600,199
190,26-DEC-2017,13:04:06,44847848,3979241,25-DEC-2017 11:02:16,18521657213,9485923,WITHINST,7,B,600,699
199,25-DEC-2017,19:04:35,44881413,5453010,25-DEC-2017 19:00:00,18533615467,54109790,LEVENING,6,B,1200,699
210,26-DEC-2017,15:08:11,44913798,1434027,26-DEC-2017 13:28:33,18547070475,38796836,EMORNING,1,B,8200,199
217,26-DEC-2017,11:02:01,44686015,18823636,23-DEC-2017 18:31:53,18438567259,19016859,EMORNING,7,B,200,699
219,25-DEC-2017,15:55:14,44887809,5654223,25-DEC-2017 23:22:11,18535241963,38873162,WITHINST,2,B,3000,699