In [33]:
import csv
from pandas import DataFrame
import pandas as pd
datanew =[]
with open('OFR_MAPPING.csv', newline='', encoding='utf-8') as f:
    reader = csv.reader(f, delimiter = "#")
    for row in reader:
        datanew.append(row)
        
data = DataFrame.from_records(datanew)
print(data.head(5))

                      0            1    2       3         4       5 6
0  05-DEC-2017 10:44:22  18138130675   68  148633  82143373  148633
1  05-DEC-2017 10:44:22  18138130675   68   18297  82143374  148633
2  05-DEC-2017 10:44:22  18138130675   68   99410  82143375  148633
3  07-DEC-2017 10:42:24  18170017795    3    4904  82446026    4904
4  23-DEC-2017 13:44:02  18494158359  587   11363  84959765   11363

In [3]:
# Printing the 1st element of list of list
print(datanew[0])

['ETO_LEAD_PUR_ID', 'FK_GLUSR_USR_ID', 'ETO_PUR_DATE', 'FK_ETO_OFR_ID', 'ETO_CREDITS_USED', 'ETO_OFR_GLUSR_USR_ID', 'ETO_LEAD_FK_GL_MODULE_ID', 'ETO_LEAD_PUR_KEYWORD', 'ETO_LEAD_PUR_LAPSE_MSG', 'ETO_LEAD_PUR_MAIL_SENT', 'ETO_LEAD_SENT_THISTOMAIL', 'ETO_LEAD_PUR_IP', 'ETO_LEAD_PUR_IP_COUNTRY', 'ETO_LEAD_PUR_MODE', 'ETO_LEAD_PUR_IP_CITY', 'FK_ETO_AFL_ID', 'ETO_LEAD_PUR_AFL_SHARE', 'FK_ETO_AFL_PAYMENT_ID', 'ETO_LEAD_PUR_AFL_REV_SHARE', 'FK_ETO_OFR_DATE', 'ETO_AFL_CRD_REV_FLAG', 'ETO_LEAD_PUR_POSITION', 'ETO_LEAD_PUR_POSITION_URL', 'ETO_LEAD_PUR_TYPE', 'ETO_LEAD_PUR_READ_STATUS', 'ETO_LEAD_PUR_READ_DATE', 'ETO_LEAD_PUR_GA_VISITOR_ID', 'ETO_LEAD_CREDITS_AV', 'ETO_LEAD_PUR_CUST_SEGMENT', 'ETO_CUST_TYPE_WEIGHT', 'ETO_CUST_SEGMENT', 'ETO_LEAD_PUR_FIRST_READ_DATE', 'ETO_CREDITS_USED_LEADCNT', '']

In [4]:
# Convert list of list to dataframe
purchase = DataFrame.from_records(datanew)

In [5]:
# Shape of Purchase
print(purchase.shape)

(519317, 34)

In [6]:
purchase.describe()

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
count,519317,519317,519317,519317,519317,519317,519317,519317,519317,519317,...,519317,519317,519317,519317,519317,519317,519317,519317,519317,519317
unique,519317,65160,330751,191147,4,177038,19,2,2,3,...,3,2,13828,1254,2,11,5,208175,3,1
top,45654072,3293242,05-JAN-2018 10:50:53,18743502213,200,46216771,MY,,,0,...,,,,1200,,199,600,,1,
freq,1,221,13,42,519294,95,201426,519316,519316,456502,...,263793,519316,432284,34669,519316,221214,514444,263795,519314,519317

In [7]:
purchase.columns = purchase.iloc[0]

In [61]:
print(purchase.columns)

Index(['ETO_LEAD_PUR_ID', 'FK_GLUSR_USR_ID', 'ETO_PUR_DATE', 'FK_ETO_OFR_ID',
       'ETO_CREDITS_USED', 'ETO_OFR_GLUSR_USR_ID', 'ETO_LEAD_FK_GL_MODULE_ID',
       'ETO_LEAD_PUR_KEYWORD', 'ETO_LEAD_PUR_LAPSE_MSG',
       'ETO_LEAD_PUR_MAIL_SENT', 'ETO_LEAD_SENT_THISTOMAIL', 'ETO_LEAD_PUR_IP',
       'ETO_LEAD_PUR_IP_COUNTRY', 'ETO_LEAD_PUR_MODE', 'ETO_LEAD_PUR_IP_CITY',
       'FK_ETO_AFL_ID', 'ETO_LEAD_PUR_AFL_SHARE', 'FK_ETO_AFL_PAYMENT_ID',
       'ETO_LEAD_PUR_AFL_REV_SHARE', 'FK_ETO_OFR_DATE', 'ETO_AFL_CRD_REV_FLAG',
       'ETO_LEAD_PUR_POSITION', 'ETO_LEAD_PUR_POSITION_URL',
       'ETO_LEAD_PUR_TYPE', 'ETO_LEAD_PUR_READ_STATUS',
       'ETO_LEAD_PUR_READ_DATE', 'ETO_LEAD_PUR_GA_VISITOR_ID',
       'ETO_LEAD_CREDITS_AV', 'ETO_LEAD_PUR_CUST_SEGMENT',
       'ETO_CUST_TYPE_WEIGHT', 'ETO_CUST_SEGMENT',
       'ETO_LEAD_PUR_FIRST_READ_DATE', 'ETO_CREDITS_USED_LEADCNT', ''],
      dtype='object', name=0)

In [8]:
print(purchase['ETO_PUR_DATE'].iloc[:5])

0            ETO_PUR_DATE
1    10-JUL-2017 19:00:33
2    10-JUL-2017 17:53:35
3    10-JUL-2017 20:19:38
4    11-JUL-2017 15:48:13
Name: ETO_PUR_DATE, dtype: object

In [21]:
import pandas as pd
from datetime import datetime
s = list(purchase['ETO_PUR_DATE'])
new_date = []
new_time = []


for row in s:
    if (row == "ETO_PUR_DATE"):
        continue
    else:
        date,time = row.split(" ")
        new_date.append(date)
        new_time.append(time)
        


se = pd.Series(new_date)

se2 = pd.Series(new_time)

#purchase.insert(loc=0, column='pur_date', value=se)
purchase.insert(loc=0, column='pur_time2', value=se2)

In [22]:
print(purchase['pur_time'].iloc[:5])

0    10-JUL-2017
1    10-JUL-2017
2    10-JUL-2017
3    11-JUL-2017
4    14-JUL-2017
Name: pur_time, dtype: object

In [23]:
purchase.head(5)

,pur_time2,pur_time,pur_date,new_column,ETO_LEAD_PUR_ID,FK_GLUSR_USR_ID,ETO_PUR_DATE,FK_ETO_OFR_ID,ETO_CREDITS_USED,ETO_OFR_GLUSR_USR_ID,...,ETO_LEAD_PUR_READ_STATUS,ETO_LEAD_PUR_READ_DATE,ETO_LEAD_PUR_GA_VISITOR_ID,ETO_LEAD_CREDITS_AV,ETO_LEAD_PUR_CUST_SEGMENT,ETO_CUST_TYPE_WEIGHT,ETO_CUST_SEGMENT,ETO_LEAD_PUR_FIRST_READ_DATE,ETO_CREDITS_USED_LEADCNT,
0,19:00:33,10-JUL-2017,10-JUL-2017,10-JUL-2017,ETO_LEAD_PUR_ID,FK_GLUSR_USR_ID,ETO_PUR_DATE,FK_ETO_OFR_ID,ETO_CREDITS_USED,ETO_OFR_GLUSR_USR_ID,...,ETO_LEAD_PUR_READ_STATUS,ETO_LEAD_PUR_READ_DATE,ETO_LEAD_PUR_GA_VISITOR_ID,ETO_LEAD_CREDITS_AV,ETO_LEAD_PUR_CUST_SEGMENT,ETO_CUST_TYPE_WEIGHT,ETO_CUST_SEGMENT,ETO_LEAD_PUR_FIRST_READ_DATE,ETO_CREDITS_USED_LEADCNT,
1,17:53:35,10-JUL-2017,10-JUL-2017,10-JUL-2017,34754108,1066127,10-JUL-2017 19:00:33,15397384063,200,22724754,...,-1,,,13000,,199,600,11-JUL-2017 12:45:59,1,
2,20:19:38,10-JUL-2017,10-JUL-2017,10-JUL-2017,34751522,35283853,10-JUL-2017 17:53:35,15397384063,200,22724754,...,,,,1000,,699,600,,1,
3,15:48:13,11-JUL-2017,11-JUL-2017,11-JUL-2017,34756305,27478699,10-JUL-2017 20:19:38,15397384063,200,22724754,...,,,,800,,699,600,,1,
4,13:50:36,14-JUL-2017,14-JUL-2017,14-JUL-2017,34785241,4063657,11-JUL-2017 15:48:13,15397384063,200,22724754,...,,,44493416,1000,,149,600,,1,

In [25]:
purchase.drop(['pur_time'], axis = 1)

,pur_time2,pur_date,new_column,ETO_LEAD_PUR_ID,FK_GLUSR_USR_ID,ETO_PUR_DATE,FK_ETO_OFR_ID,ETO_CREDITS_USED,ETO_OFR_GLUSR_USR_ID,ETO_LEAD_FK_GL_MODULE_ID,...,ETO_LEAD_PUR_READ_STATUS,ETO_LEAD_PUR_READ_DATE,ETO_LEAD_PUR_GA_VISITOR_ID,ETO_LEAD_CREDITS_AV,ETO_LEAD_PUR_CUST_SEGMENT,ETO_CUST_TYPE_WEIGHT,ETO_CUST_SEGMENT,ETO_LEAD_PUR_FIRST_READ_DATE,ETO_CREDITS_USED_LEADCNT,
0,19:00:33,10-JUL-2017,10-JUL-2017,ETO_LEAD_PUR_ID,FK_GLUSR_USR_ID,ETO_PUR_DATE,FK_ETO_OFR_ID,ETO_CREDITS_USED,ETO_OFR_GLUSR_USR_ID,ETO_LEAD_FK_GL_MODULE_ID,...,ETO_LEAD_PUR_READ_STATUS,ETO_LEAD_PUR_READ_DATE,ETO_LEAD_PUR_GA_VISITOR_ID,ETO_LEAD_CREDITS_AV,ETO_LEAD_PUR_CUST_SEGMENT,ETO_CUST_TYPE_WEIGHT,ETO_CUST_SEGMENT,ETO_LEAD_PUR_FIRST_READ_DATE,ETO_CREDITS_USED_LEADCNT,
1,17:53:35,10-JUL-2017,10-JUL-2017,34754108,1066127,10-JUL-2017 19:00:33,15397384063,200,22724754,MY,...,-1,,,13000,,199,600,11-JUL-2017 12:45:59,1,
2,20:19:38,10-JUL-2017,10-JUL-2017,34751522,35283853,10-JUL-2017 17:53:35,15397384063,200,22724754,ANDROID,...,,,,1000,,699,600,,1,
3,15:48:13,11-JUL-2017,11-JUL-2017,34756305,27478699,10-JUL-2017 20:19:38,15397384063,200,22724754,INSTANT,...,,,,800,,699,600,,1,
4,13:50:36,14-JUL-2017,14-JUL-2017,34785241,4063657,11-JUL-2017 15:48:13,15397384063,200,22724754,WITHINST,...,,,44493416,1000,,149,600,,1,
5,18:06:10,10-JUL-2017,10-JUL-2017,34903302,9496766,14-JUL-2017 13:50:36,15436130963,200,44133091,MY,...,-1,,36229928,1200,,179,600,14-JUL-2017 13:51:51,1,
6,16:56:00,13-JUL-2017,13-JUL-2017,34752088,87496,10-JUL-2017 18:06:10,15397384063,200,22724754,MY,...,,,386199338,1800,,199,600,,1,
7,14:45:54,25-JUL-2017,25-JUL-2017,34870107,37655252,13-JUL-2017 16:56:00,15436130963,200,44133091,INSTANT,...,-1,,,400,,699,600,13-JUL-2017 16:56:10,1,
8,10:30:12,26-JUL-2017,26-JUL-2017,35578001,5887973,25-JUL-2017 14:45:54,15623426767,200,26803272,MY,...,-1,,237094677,200,,199,600,25-JUL-2017 14:51:12,1,
9,16:08:42,01-AUG-2017,01-AUG-2017,35604642,6715321,26-JUL-2017 10:30:12,15567427134,200,18070394,ANDROID,...,,,,5000,,699,600,,1,
10,22:27:16,22-AUG-2017,22-AUG-2017,36011655,2350889,01-AUG-2017 16:08:42,15623426767,200,26803272,ETO,...,-1,,,1600,,199,600,03-AUG-2017 18:04:59,1,
11,23:10:48,23-AUG-2017,23-AUG-2017,37197664,13892530,22-AUG-2017 22:27:16,16048770646,200,39225644,INSTANT,...,,,,2600,,699,600,,1,
12,19:31:47,23-AUG-2017,23-AUG-2017,37243701,11032992,23-AUG-2017 23:10:48,16103990363,200,6800733,FUSIONI,...,,,,200,,699,600,,1,
13,10:19:09,24-AUG-2017,24-AUG-2017,37239157,11051948,23-AUG-2017 19:31:47,16103990363,200,6800733,WITHINST,...,-1,,,6600,,149,600,23-AUG-2017 20:01:57,1,
14,10:46:58,29-AUG-2017,29-AUG-2017,37249902,2895594,24-AUG-2017 10:19:09,16103990363,200,6800733,ANDROID,...,,,,1600,,199,600,,1,
15,15:03:50,04-SEP-2017,04-SEP-2017,37670702,10137716,29-AUG-2017 10:46:58,16190204134,200,42342318,ANDROID,...,,,,1400,,699,600,,1,
16,13:24:19,07-SEP-2017,07-SEP-2017,38065490,10041040,04-SEP-2017 15:03:50,16305071763,200,7622730,INSTANT,...,-1,,,8000,,699,600,12-SEP-2017 18:30:50,1,
17,16:58:59,07-SEP-2017,07-SEP-2017,38186711,36871215,07-SEP-2017 13:24:19,16343904075,200,14507666,ETO,...,-1,,,600,,699,600,07-SEP-2017 13:29:53,1,
18,16:59:53,07-SEP-2017,07-SEP-2017,38199118,10195860,07-SEP-2017 16:58:59,16364727652,200,31981987,MY,...,-1,,1883186146,3000,,179,600,14-SEP-2017 11:41:29,1,
19,16:59:42,07-SEP-2017,07-SEP-2017,38199177,41377787,07-SEP-2017 16:59:53,16364727652,200,31981987,ANDROID,...,-1,,,1400,,199,600,07-SEP-2017 18:47:28,1,
20,16:58:00,07-SEP-2017,07-SEP-2017,38199166,2154966,07-SEP-2017 16:59:42,16364727652,200,31981987,MY,...,-1,,,12600,,199,600,07-SEP-2017 17:02:36,1,
21,16:58:38,07-SEP-2017,07-SEP-2017,38199054,3198487,07-SEP-2017 16:58:00,16364727652,200,31981987,MY,...,,,,1000,,179,600,,1,
22,16:59:05,07-SEP-2017,07-SEP-2017,38199096,9666337,07-SEP-2017 16:58:38,16364727652,200,31981987,MY,...,,,,3400,,149,600,,1,
23,16:57:27,07-SEP-2017,07-SEP-2017,38199128,16539838,07-SEP-2017 16:59:05,16364727652,200,31981987,ANDROID,...,-1,,,1000,,199,600,08-SEP-2017 12:05:15,1,
24,16:57:45,07-SEP-2017,07-SEP-2017,38199028,1114351,07-SEP-2017 16:57:27,16364727652,200,31981987,MY,...,-1,,,3000,,199,600,07-SEP-2017 17:12:03,1,
25,16:59:56,07-SEP-2017,07-SEP-2017,38199046,2964883,07-SEP-2017 16:57:45,16364727652,200,31981987,MY,...,-1,,,3200,,199,600,07-SEP-2017 17:47:28,1,
26,16:57:17,07-SEP-2017,07-SEP-2017,38199180,5225843,07-SEP-2017 16:59:56,16364727652,200,31981987,MY,...,,,,3800,,199,600,,1,
27,21:35:53,15-SEP-2017,15-SEP-2017,38199018,2139366,07-SEP-2017 16:57:17,16364727652,200,31981987,MY,...,,,483793712,7800,,149,600,,1,
28,15:43:08,16-SEP-2017,16-SEP-2017,38675097,34105085,15-SEP-2017 21:35:53,16515148234,200,2788004,ANDROID,...,-1,,,800,,699,600,15-SEP-2017 21:37:00,1,
29,18:00:37,06-OCT-2017,06-OCT-2017,38713728,8877832,16-SEP-2017 15:43:08,16533253563,200,19401351,MY,...,,,,800,,699,600,,1,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519287,14:06:33,26-FEB-2018,26-FEB-2018,49783905,3146166,26-FEB-2018 15:31:50,18644299446,200,54455837,ANDROID,...,,,,400,,699,600,,1,
519288,11:31:21,27-FEB-2018,27-FEB-2018,49775129,2984811,26-FEB-2018 14:06:33,18644299446,200,54455837,ANDROID,...,-1,,,6200,,199,600,26-FEB-2018 14:07:53,1,
519289,11:24:43,27-FEB-2018,27-FEB-2018,49836704,692779,27-FEB-2018 11:31:21,18665193734,200,51598037,MY,...,-1,,2011739574,16000,,199,600,27-FEB-2018 11:34:20,1,
519290,11:31:39,27-FEB-2018,27-FEB-2018,49835731,5456983,27-FEB-2018 11:24:43,18665193734,200,51598037,MY,...,,,,13800,,199,600,,1,
519291,11:26:03,27-FEB-2018,27-FEB-2018,49836759,1352648,27-FEB-2018 11:31:39,18665193734,200,51598037,MY,...,-1,,,18200,,199,600,06-MAR-2018 01:14:48,1,
519292,11:51:51,27-FEB-2018,27-FEB-2018,49835936,1666397,27-FEB-2018 11:26:03,18665193734,200,51598037,MY,...,-1,,,11400,,199,600,27-FEB-2018 15:18:34,1,
519293,15:00:52,27-FEB-2018,27-FEB-2018,49839794,26864714,27-FEB-2018 11:51:51,18665193734,200,51598037,MY,...,-1,,1282941864,20800,,199,600,06-MAR-2018 01:20:52,1,
519294,14:02:35,27-FEB-2018,27-FEB-2018,49863097,9897350,27-FEB-2018 15:00:52,18665193734,200,51598037,MY,...,,,,30600,,199,600,,1,
519295,18:35:46,27-FEB-2018,27-FEB-2018,49856622,40823412,27-FEB-2018 14:02:35,18665193734,200,51598037,IOS,...,-1,,,17800,,199,600,27-FEB-2018 14:02:37,1,
519296,17:38:33,27-FEB-2018,27-FEB-2018,49886666,2381872,27-FEB-2018 18:35:46,18665193734,200,51598037,MY,...,,,,5800,,199,600,,1,
519297,19:15:16,27-FEB-2018,27-FEB-2018,49881271,38428,27-FEB-2018 17:38:33,18665193734,200,51598037,MY,...,-1,,1445108093,18200,,199,600,03-MAR-2018 14:56:49,1,
519298,11:35:01,28-FEB-2018,28-FEB-2018,49889739,2684188,27-FEB-2018 19:15:16,18665193734,200,51598037,MY,...,-1,,1765821233,16200,,199,600,06-MAR-2018 01:18:38,1,
519299,13:06:54,28-FEB-2018,28-FEB-2018,49925554,47735249,28-FEB-2018 11:35:01,18726302563,200,49394221,ANDROID,...,-1,,,0,,699,600,28-FEB-2018 11:35:04,1,
519300,17:48:19,28-FEB-2018,28-FEB-2018,49938857,46265819,28-FEB-2018 13:06:54,18726302563,200,49394221,ANDROID,...,-1,,,1200,,699,600,03-MAR-2018 09:45:04,1,
519301,23:47:09,03-MAR-2018,03-MAR-2018,49973149,27869052,28-FEB-2018 17:48:19,18548858046,200,6107367,AUTOINST,...,,,,1600,,699,600,,1,
519302,14:50:49,03-MAR-2018,03-MAR-2018,50305975,21693409,03-MAR-2018 23:47:09,18742859234,200,13925418,ANDROID,...,,,,1200,,699,600,,1,
519303,11:40:32,03-MAR-2018,03-MAR-2018,50207490,41615788,03-MAR-2018 14:50:49,18665218452,200,24530422,MY,...,-1,,,22800,,199,600,03-MAR-2018 15:02:22,1,
519304,11:05:25,03-MAR-2018,03-MAR-2018,50171723,27523144,03-MAR-2018 11:40:32,18665218452,200,24530422,ANDROID,...,-1,,,6800,,199,600,06-MAR-2018 12:38:12,1,
519305,13:36:26,03-MAR-2018,03-MAR-2018,50164233,37809346,03-MAR-2018 11:05:25,18665218452,200,24530422,MY,...,-1,,,15400,,199,600,03-MAR-2018 11:08:01,1,
519306,11:50:39,03-MAR-2018,03-MAR-2018,50194278,3916769,03-MAR-2018 13:36:26,18665218452,200,24530422,ANDROID,...,,,,4200,,199,600,,1,
519307,12:26:44,03-MAR-2018,03-MAR-2018,50173780,12736572,03-MAR-2018 11:50:39,18665218452,200,24530422,MY,...,,,,4000,,199,600,,1,
519308,12:42:57,03-MAR-2018,03-MAR-2018,50181002,18168299,03-MAR-2018 12:26:44,18665218452,200,24530422,ANDROID,...,-1,,,4600,,1299,400,03-MAR-2018 12:33:22,1,
519309,10:51:51,03-MAR-2018,03-MAR-2018,50184275,11108290,03-MAR-2018 12:42:57,18665218452,200,24530422,MY,...,,,,18800,,199,600,,1,
519310,10:24:48,03-MAR-2018,03-MAR-2018,50161344,14136651,03-MAR-2018 10:51:51,18665218452,200,24530422,MY,...,-1,,,1800,,699,600,03-MAR-2018 11:58:03,1,
519311,15:20:24,04-MAR-2018,04-MAR-2018,50156258,4336347,03-MAR-2018 10:24:48,18770223885,200,35329296,EMORNING,...,,,,3400,,199,600,,1,
519312,12:50:24,08-MAR-2018,08-MAR-2018,50431990,36167121,04-MAR-2018 15:20:24,18742859234,200,13925418,ANDROID,...,,,,4400,,699,600,,1,
519313,09:04:35,08-MAR-2018,08-MAR-2018,50667993,3366092,08-MAR-2018 12:50:24,18743502213,200,2898705,MY,...,-1,,,5600,,699,600,,1,
519314,16:15:34,07-MAR-2018,07-MAR-2018,50648227,54582157,08-MAR-2018 09:04:35,18743502213,200,2898705,IOS,...,-1,,,5600,,699,600,08-MAR-2018 09:04:35,1,
519315,11:07:26,09-MAR-2018,09-MAR-2018,50625342,28061284,07-MAR-2018 16:15:34,18757861452,200,2898705,MY,...,-1,,,6800,,199,600,07-MAR-2018 16:59:10,1,
519316,NaN,NaN,NaN,50724456,22073062,09-MAR-2018 11:07:26,18743502213,200,2898705,MY,...,,,,1000,,699,600,,1,

In [26]:
purchase.drop(['new_column'], axis = 1)

,pur_time2,pur_time,pur_date,ETO_LEAD_PUR_ID,FK_GLUSR_USR_ID,ETO_PUR_DATE,FK_ETO_OFR_ID,ETO_CREDITS_USED,ETO_OFR_GLUSR_USR_ID,ETO_LEAD_FK_GL_MODULE_ID,...,ETO_LEAD_PUR_READ_STATUS,ETO_LEAD_PUR_READ_DATE,ETO_LEAD_PUR_GA_VISITOR_ID,ETO_LEAD_CREDITS_AV,ETO_LEAD_PUR_CUST_SEGMENT,ETO_CUST_TYPE_WEIGHT,ETO_CUST_SEGMENT,ETO_LEAD_PUR_FIRST_READ_DATE,ETO_CREDITS_USED_LEADCNT,
0,19:00:33,10-JUL-2017,10-JUL-2017,ETO_LEAD_PUR_ID,FK_GLUSR_USR_ID,ETO_PUR_DATE,FK_ETO_OFR_ID,ETO_CREDITS_USED,ETO_OFR_GLUSR_USR_ID,ETO_LEAD_FK_GL_MODULE_ID,...,ETO_LEAD_PUR_READ_STATUS,ETO_LEAD_PUR_READ_DATE,ETO_LEAD_PUR_GA_VISITOR_ID,ETO_LEAD_CREDITS_AV,ETO_LEAD_PUR_CUST_SEGMENT,ETO_CUST_TYPE_WEIGHT,ETO_CUST_SEGMENT,ETO_LEAD_PUR_FIRST_READ_DATE,ETO_CREDITS_USED_LEADCNT,
1,17:53:35,10-JUL-2017,10-JUL-2017,34754108,1066127,10-JUL-2017 19:00:33,15397384063,200,22724754,MY,...,-1,,,13000,,199,600,11-JUL-2017 12:45:59,1,
2,20:19:38,10-JUL-2017,10-JUL-2017,34751522,35283853,10-JUL-2017 17:53:35,15397384063,200,22724754,ANDROID,...,,,,1000,,699,600,,1,
3,15:48:13,11-JUL-2017,11-JUL-2017,34756305,27478699,10-JUL-2017 20:19:38,15397384063,200,22724754,INSTANT,...,,,,800,,699,600,,1,
4,13:50:36,14-JUL-2017,14-JUL-2017,34785241,4063657,11-JUL-2017 15:48:13,15397384063,200,22724754,WITHINST,...,,,44493416,1000,,149,600,,1,
5,18:06:10,10-JUL-2017,10-JUL-2017,34903302,9496766,14-JUL-2017 13:50:36,15436130963,200,44133091,MY,...,-1,,36229928,1200,,179,600,14-JUL-2017 13:51:51,1,
6,16:56:00,13-JUL-2017,13-JUL-2017,34752088,87496,10-JUL-2017 18:06:10,15397384063,200,22724754,MY,...,,,386199338,1800,,199,600,,1,
7,14:45:54,25-JUL-2017,25-JUL-2017,34870107,37655252,13-JUL-2017 16:56:00,15436130963,200,44133091,INSTANT,...,-1,,,400,,699,600,13-JUL-2017 16:56:10,1,
8,10:30:12,26-JUL-2017,26-JUL-2017,35578001,5887973,25-JUL-2017 14:45:54,15623426767,200,26803272,MY,...,-1,,237094677,200,,199,600,25-JUL-2017 14:51:12,1,
9,16:08:42,01-AUG-2017,01-AUG-2017,35604642,6715321,26-JUL-2017 10:30:12,15567427134,200,18070394,ANDROID,...,,,,5000,,699,600,,1,
10,22:27:16,22-AUG-2017,22-AUG-2017,36011655,2350889,01-AUG-2017 16:08:42,15623426767,200,26803272,ETO,...,-1,,,1600,,199,600,03-AUG-2017 18:04:59,1,
11,23:10:48,23-AUG-2017,23-AUG-2017,37197664,13892530,22-AUG-2017 22:27:16,16048770646,200,39225644,INSTANT,...,,,,2600,,699,600,,1,
12,19:31:47,23-AUG-2017,23-AUG-2017,37243701,11032992,23-AUG-2017 23:10:48,16103990363,200,6800733,FUSIONI,...,,,,200,,699,600,,1,
13,10:19:09,24-AUG-2017,24-AUG-2017,37239157,11051948,23-AUG-2017 19:31:47,16103990363,200,6800733,WITHINST,...,-1,,,6600,,149,600,23-AUG-2017 20:01:57,1,
14,10:46:58,29-AUG-2017,29-AUG-2017,37249902,2895594,24-AUG-2017 10:19:09,16103990363,200,6800733,ANDROID,...,,,,1600,,199,600,,1,
15,15:03:50,04-SEP-2017,04-SEP-2017,37670702,10137716,29-AUG-2017 10:46:58,16190204134,200,42342318,ANDROID,...,,,,1400,,699,600,,1,
16,13:24:19,07-SEP-2017,07-SEP-2017,38065490,10041040,04-SEP-2017 15:03:50,16305071763,200,7622730,INSTANT,...,-1,,,8000,,699,600,12-SEP-2017 18:30:50,1,
17,16:58:59,07-SEP-2017,07-SEP-2017,38186711,36871215,07-SEP-2017 13:24:19,16343904075,200,14507666,ETO,...,-1,,,600,,699,600,07-SEP-2017 13:29:53,1,
18,16:59:53,07-SEP-2017,07-SEP-2017,38199118,10195860,07-SEP-2017 16:58:59,16364727652,200,31981987,MY,...,-1,,1883186146,3000,,179,600,14-SEP-2017 11:41:29,1,
19,16:59:42,07-SEP-2017,07-SEP-2017,38199177,41377787,07-SEP-2017 16:59:53,16364727652,200,31981987,ANDROID,...,-1,,,1400,,199,600,07-SEP-2017 18:47:28,1,
20,16:58:00,07-SEP-2017,07-SEP-2017,38199166,2154966,07-SEP-2017 16:59:42,16364727652,200,31981987,MY,...,-1,,,12600,,199,600,07-SEP-2017 17:02:36,1,
21,16:58:38,07-SEP-2017,07-SEP-2017,38199054,3198487,07-SEP-2017 16:58:00,16364727652,200,31981987,MY,...,,,,1000,,179,600,,1,
22,16:59:05,07-SEP-2017,07-SEP-2017,38199096,9666337,07-SEP-2017 16:58:38,16364727652,200,31981987,MY,...,,,,3400,,149,600,,1,
23,16:57:27,07-SEP-2017,07-SEP-2017,38199128,16539838,07-SEP-2017 16:59:05,16364727652,200,31981987,ANDROID,...,-1,,,1000,,199,600,08-SEP-2017 12:05:15,1,
24,16:57:45,07-SEP-2017,07-SEP-2017,38199028,1114351,07-SEP-2017 16:57:27,16364727652,200,31981987,MY,...,-1,,,3000,,199,600,07-SEP-2017 17:12:03,1,
25,16:59:56,07-SEP-2017,07-SEP-2017,38199046,2964883,07-SEP-2017 16:57:45,16364727652,200,31981987,MY,...,-1,,,3200,,199,600,07-SEP-2017 17:47:28,1,
26,16:57:17,07-SEP-2017,07-SEP-2017,38199180,5225843,07-SEP-2017 16:59:56,16364727652,200,31981987,MY,...,,,,3800,,199,600,,1,
27,21:35:53,15-SEP-2017,15-SEP-2017,38199018,2139366,07-SEP-2017 16:57:17,16364727652,200,31981987,MY,...,,,483793712,7800,,149,600,,1,
28,15:43:08,16-SEP-2017,16-SEP-2017,38675097,34105085,15-SEP-2017 21:35:53,16515148234,200,2788004,ANDROID,...,-1,,,800,,699,600,15-SEP-2017 21:37:00,1,
29,18:00:37,06-OCT-2017,06-OCT-2017,38713728,8877832,16-SEP-2017 15:43:08,16533253563,200,19401351,MY,...,,,,800,,699,600,,1,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519287,14:06:33,26-FEB-2018,26-FEB-2018,49783905,3146166,26-FEB-2018 15:31:50,18644299446,200,54455837,ANDROID,...,,,,400,,699,600,,1,
519288,11:31:21,27-FEB-2018,27-FEB-2018,49775129,2984811,26-FEB-2018 14:06:33,18644299446,200,54455837,ANDROID,...,-1,,,6200,,199,600,26-FEB-2018 14:07:53,1,
519289,11:24:43,27-FEB-2018,27-FEB-2018,49836704,692779,27-FEB-2018 11:31:21,18665193734,200,51598037,MY,...,-1,,2011739574,16000,,199,600,27-FEB-2018 11:34:20,1,
519290,11:31:39,27-FEB-2018,27-FEB-2018,49835731,5456983,27-FEB-2018 11:24:43,18665193734,200,51598037,MY,...,,,,13800,,199,600,,1,
519291,11:26:03,27-FEB-2018,27-FEB-2018,49836759,1352648,27-FEB-2018 11:31:39,18665193734,200,51598037,MY,...,-1,,,18200,,199,600,06-MAR-2018 01:14:48,1,
519292,11:51:51,27-FEB-2018,27-FEB-2018,49835936,1666397,27-FEB-2018 11:26:03,18665193734,200,51598037,MY,...,-1,,,11400,,199,600,27-FEB-2018 15:18:34,1,
519293,15:00:52,27-FEB-2018,27-FEB-2018,49839794,26864714,27-FEB-2018 11:51:51,18665193734,200,51598037,MY,...,-1,,1282941864,20800,,199,600,06-MAR-2018 01:20:52,1,
519294,14:02:35,27-FEB-2018,27-FEB-2018,49863097,9897350,27-FEB-2018 15:00:52,18665193734,200,51598037,MY,...,,,,30600,,199,600,,1,
519295,18:35:46,27-FEB-2018,27-FEB-2018,49856622,40823412,27-FEB-2018 14:02:35,18665193734,200,51598037,IOS,...,-1,,,17800,,199,600,27-FEB-2018 14:02:37,1,
519296,17:38:33,27-FEB-2018,27-FEB-2018,49886666,2381872,27-FEB-2018 18:35:46,18665193734,200,51598037,MY,...,,,,5800,,199,600,,1,
519297,19:15:16,27-FEB-2018,27-FEB-2018,49881271,38428,27-FEB-2018 17:38:33,18665193734,200,51598037,MY,...,-1,,1445108093,18200,,199,600,03-MAR-2018 14:56:49,1,
519298,11:35:01,28-FEB-2018,28-FEB-2018,49889739,2684188,27-FEB-2018 19:15:16,18665193734,200,51598037,MY,...,-1,,1765821233,16200,,199,600,06-MAR-2018 01:18:38,1,
519299,13:06:54,28-FEB-2018,28-FEB-2018,49925554,47735249,28-FEB-2018 11:35:01,18726302563,200,49394221,ANDROID,...,-1,,,0,,699,600,28-FEB-2018 11:35:04,1,
519300,17:48:19,28-FEB-2018,28-FEB-2018,49938857,46265819,28-FEB-2018 13:06:54,18726302563,200,49394221,ANDROID,...,-1,,,1200,,699,600,03-MAR-2018 09:45:04,1,
519301,23:47:09,03-MAR-2018,03-MAR-2018,49973149,27869052,28-FEB-2018 17:48:19,18548858046,200,6107367,AUTOINST,...,,,,1600,,699,600,,1,
519302,14:50:49,03-MAR-2018,03-MAR-2018,50305975,21693409,03-MAR-2018 23:47:09,18742859234,200,13925418,ANDROID,...,,,,1200,,699,600,,1,
519303,11:40:32,03-MAR-2018,03-MAR-2018,50207490,41615788,03-MAR-2018 14:50:49,18665218452,200,24530422,MY,...,-1,,,22800,,199,600,03-MAR-2018 15:02:22,1,
519304,11:05:25,03-MAR-2018,03-MAR-2018,50171723,27523144,03-MAR-2018 11:40:32,18665218452,200,24530422,ANDROID,...,-1,,,6800,,199,600,06-MAR-2018 12:38:12,1,
519305,13:36:26,03-MAR-2018,03-MAR-2018,50164233,37809346,03-MAR-2018 11:05:25,18665218452,200,24530422,MY,...,-1,,,15400,,199,600,03-MAR-2018 11:08:01,1,
519306,11:50:39,03-MAR-2018,03-MAR-2018,50194278,3916769,03-MAR-2018 13:36:26,18665218452,200,24530422,ANDROID,...,,,,4200,,199,600,,1,
519307,12:26:44,03-MAR-2018,03-MAR-2018,50173780,12736572,03-MAR-2018 11:50:39,18665218452,200,24530422,MY,...,,,,4000,,199,600,,1,
519308,12:42:57,03-MAR-2018,03-MAR-2018,50181002,18168299,03-MAR-2018 12:26:44,18665218452,200,24530422,ANDROID,...,-1,,,4600,,1299,400,03-MAR-2018 12:33:22,1,
519309,10:51:51,03-MAR-2018,03-MAR-2018,50184275,11108290,03-MAR-2018 12:42:57,18665218452,200,24530422,MY,...,,,,18800,,199,600,,1,
519310,10:24:48,03-MAR-2018,03-MAR-2018,50161344,14136651,03-MAR-2018 10:51:51,18665218452,200,24530422,MY,...,-1,,,1800,,699,600,03-MAR-2018 11:58:03,1,
519311,15:20:24,04-MAR-2018,04-MAR-2018,50156258,4336347,03-MAR-2018 10:24:48,18770223885,200,35329296,EMORNING,...,,,,3400,,199,600,,1,
519312,12:50:24,08-MAR-2018,08-MAR-2018,50431990,36167121,04-MAR-2018 15:20:24,18742859234,200,13925418,ANDROID,...,,,,4400,,699,600,,1,
519313,09:04:35,08-MAR-2018,08-MAR-2018,50667993,3366092,08-MAR-2018 12:50:24,18743502213,200,2898705,MY,...,-1,,,5600,,699,600,,1,
519314,16:15:34,07-MAR-2018,07-MAR-2018,50648227,54582157,08-MAR-2018 09:04:35,18743502213,200,2898705,IOS,...,-1,,,5600,,699,600,08-MAR-2018 09:04:35,1,
519315,11:07:26,09-MAR-2018,09-MAR-2018,50625342,28061284,07-MAR-2018 16:15:34,18757861452,200,2898705,MY,...,-1,,,6800,,199,600,07-MAR-2018 16:59:10,1,
519316,NaN,NaN,NaN,50724456,22073062,09-MAR-2018 11:07:26,18743502213,200,2898705,MY,...,,,,1000,,699,600,,1,

In [27]:
purchase.drop(['pur_time'], axis = 1)

,pur_time2,pur_date,new_column,ETO_LEAD_PUR_ID,FK_GLUSR_USR_ID,ETO_PUR_DATE,FK_ETO_OFR_ID,ETO_CREDITS_USED,ETO_OFR_GLUSR_USR_ID,ETO_LEAD_FK_GL_MODULE_ID,...,ETO_LEAD_PUR_READ_STATUS,ETO_LEAD_PUR_READ_DATE,ETO_LEAD_PUR_GA_VISITOR_ID,ETO_LEAD_CREDITS_AV,ETO_LEAD_PUR_CUST_SEGMENT,ETO_CUST_TYPE_WEIGHT,ETO_CUST_SEGMENT,ETO_LEAD_PUR_FIRST_READ_DATE,ETO_CREDITS_USED_LEADCNT,
0,19:00:33,10-JUL-2017,10-JUL-2017,ETO_LEAD_PUR_ID,FK_GLUSR_USR_ID,ETO_PUR_DATE,FK_ETO_OFR_ID,ETO_CREDITS_USED,ETO_OFR_GLUSR_USR_ID,ETO_LEAD_FK_GL_MODULE_ID,...,ETO_LEAD_PUR_READ_STATUS,ETO_LEAD_PUR_READ_DATE,ETO_LEAD_PUR_GA_VISITOR_ID,ETO_LEAD_CREDITS_AV,ETO_LEAD_PUR_CUST_SEGMENT,ETO_CUST_TYPE_WEIGHT,ETO_CUST_SEGMENT,ETO_LEAD_PUR_FIRST_READ_DATE,ETO_CREDITS_USED_LEADCNT,
1,17:53:35,10-JUL-2017,10-JUL-2017,34754108,1066127,10-JUL-2017 19:00:33,15397384063,200,22724754,MY,...,-1,,,13000,,199,600,11-JUL-2017 12:45:59,1,
2,20:19:38,10-JUL-2017,10-JUL-2017,34751522,35283853,10-JUL-2017 17:53:35,15397384063,200,22724754,ANDROID,...,,,,1000,,699,600,,1,
3,15:48:13,11-JUL-2017,11-JUL-2017,34756305,27478699,10-JUL-2017 20:19:38,15397384063,200,22724754,INSTANT,...,,,,800,,699,600,,1,
4,13:50:36,14-JUL-2017,14-JUL-2017,34785241,4063657,11-JUL-2017 15:48:13,15397384063,200,22724754,WITHINST,...,,,44493416,1000,,149,600,,1,
5,18:06:10,10-JUL-2017,10-JUL-2017,34903302,9496766,14-JUL-2017 13:50:36,15436130963,200,44133091,MY,...,-1,,36229928,1200,,179,600,14-JUL-2017 13:51:51,1,
6,16:56:00,13-JUL-2017,13-JUL-2017,34752088,87496,10-JUL-2017 18:06:10,15397384063,200,22724754,MY,...,,,386199338,1800,,199,600,,1,
7,14:45:54,25-JUL-2017,25-JUL-2017,34870107,37655252,13-JUL-2017 16:56:00,15436130963,200,44133091,INSTANT,...,-1,,,400,,699,600,13-JUL-2017 16:56:10,1,
8,10:30:12,26-JUL-2017,26-JUL-2017,35578001,5887973,25-JUL-2017 14:45:54,15623426767,200,26803272,MY,...,-1,,237094677,200,,199,600,25-JUL-2017 14:51:12,1,
9,16:08:42,01-AUG-2017,01-AUG-2017,35604642,6715321,26-JUL-2017 10:30:12,15567427134,200,18070394,ANDROID,...,,,,5000,,699,600,,1,
10,22:27:16,22-AUG-2017,22-AUG-2017,36011655,2350889,01-AUG-2017 16:08:42,15623426767,200,26803272,ETO,...,-1,,,1600,,199,600,03-AUG-2017 18:04:59,1,
11,23:10:48,23-AUG-2017,23-AUG-2017,37197664,13892530,22-AUG-2017 22:27:16,16048770646,200,39225644,INSTANT,...,,,,2600,,699,600,,1,
12,19:31:47,23-AUG-2017,23-AUG-2017,37243701,11032992,23-AUG-2017 23:10:48,16103990363,200,6800733,FUSIONI,...,,,,200,,699,600,,1,
13,10:19:09,24-AUG-2017,24-AUG-2017,37239157,11051948,23-AUG-2017 19:31:47,16103990363,200,6800733,WITHINST,...,-1,,,6600,,149,600,23-AUG-2017 20:01:57,1,
14,10:46:58,29-AUG-2017,29-AUG-2017,37249902,2895594,24-AUG-2017 10:19:09,16103990363,200,6800733,ANDROID,...,,,,1600,,199,600,,1,
15,15:03:50,04-SEP-2017,04-SEP-2017,37670702,10137716,29-AUG-2017 10:46:58,16190204134,200,42342318,ANDROID,...,,,,1400,,699,600,,1,
16,13:24:19,07-SEP-2017,07-SEP-2017,38065490,10041040,04-SEP-2017 15:03:50,16305071763,200,7622730,INSTANT,...,-1,,,8000,,699,600,12-SEP-2017 18:30:50,1,
17,16:58:59,07-SEP-2017,07-SEP-2017,38186711,36871215,07-SEP-2017 13:24:19,16343904075,200,14507666,ETO,...,-1,,,600,,699,600,07-SEP-2017 13:29:53,1,
18,16:59:53,07-SEP-2017,07-SEP-2017,38199118,10195860,07-SEP-2017 16:58:59,16364727652,200,31981987,MY,...,-1,,1883186146,3000,,179,600,14-SEP-2017 11:41:29,1,
19,16:59:42,07-SEP-2017,07-SEP-2017,38199177,41377787,07-SEP-2017 16:59:53,16364727652,200,31981987,ANDROID,...,-1,,,1400,,199,600,07-SEP-2017 18:47:28,1,
20,16:58:00,07-SEP-2017,07-SEP-2017,38199166,2154966,07-SEP-2017 16:59:42,16364727652,200,31981987,MY,...,-1,,,12600,,199,600,07-SEP-2017 17:02:36,1,
21,16:58:38,07-SEP-2017,07-SEP-2017,38199054,3198487,07-SEP-2017 16:58:00,16364727652,200,31981987,MY,...,,,,1000,,179,600,,1,
22,16:59:05,07-SEP-2017,07-SEP-2017,38199096,9666337,07-SEP-2017 16:58:38,16364727652,200,31981987,MY,...,,,,3400,,149,600,,1,
23,16:57:27,07-SEP-2017,07-SEP-2017,38199128,16539838,07-SEP-2017 16:59:05,16364727652,200,31981987,ANDROID,...,-1,,,1000,,199,600,08-SEP-2017 12:05:15,1,
24,16:57:45,07-SEP-2017,07-SEP-2017,38199028,1114351,07-SEP-2017 16:57:27,16364727652,200,31981987,MY,...,-1,,,3000,,199,600,07-SEP-2017 17:12:03,1,
25,16:59:56,07-SEP-2017,07-SEP-2017,38199046,2964883,07-SEP-2017 16:57:45,16364727652,200,31981987,MY,...,-1,,,3200,,199,600,07-SEP-2017 17:47:28,1,
26,16:57:17,07-SEP-2017,07-SEP-2017,38199180,5225843,07-SEP-2017 16:59:56,16364727652,200,31981987,MY,...,,,,3800,,199,600,,1,
27,21:35:53,15-SEP-2017,15-SEP-2017,38199018,2139366,07-SEP-2017 16:57:17,16364727652,200,31981987,MY,...,,,483793712,7800,,149,600,,1,
28,15:43:08,16-SEP-2017,16-SEP-2017,38675097,34105085,15-SEP-2017 21:35:53,16515148234,200,2788004,ANDROID,...,-1,,,800,,699,600,15-SEP-2017 21:37:00,1,
29,18:00:37,06-OCT-2017,06-OCT-2017,38713728,8877832,16-SEP-2017 15:43:08,16533253563,200,19401351,MY,...,,,,800,,699,600,,1,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519287,14:06:33,26-FEB-2018,26-FEB-2018,49783905,3146166,26-FEB-2018 15:31:50,18644299446,200,54455837,ANDROID,...,,,,400,,699,600,,1,
519288,11:31:21,27-FEB-2018,27-FEB-2018,49775129,2984811,26-FEB-2018 14:06:33,18644299446,200,54455837,ANDROID,...,-1,,,6200,,199,600,26-FEB-2018 14:07:53,1,
519289,11:24:43,27-FEB-2018,27-FEB-2018,49836704,692779,27-FEB-2018 11:31:21,18665193734,200,51598037,MY,...,-1,,2011739574,16000,,199,600,27-FEB-2018 11:34:20,1,
519290,11:31:39,27-FEB-2018,27-FEB-2018,49835731,5456983,27-FEB-2018 11:24:43,18665193734,200,51598037,MY,...,,,,13800,,199,600,,1,
519291,11:26:03,27-FEB-2018,27-FEB-2018,49836759,1352648,27-FEB-2018 11:31:39,18665193734,200,51598037,MY,...,-1,,,18200,,199,600,06-MAR-2018 01:14:48,1,
519292,11:51:51,27-FEB-2018,27-FEB-2018,49835936,1666397,27-FEB-2018 11:26:03,18665193734,200,51598037,MY,...,-1,,,11400,,199,600,27-FEB-2018 15:18:34,1,
519293,15:00:52,27-FEB-2018,27-FEB-2018,49839794,26864714,27-FEB-2018 11:51:51,18665193734,200,51598037,MY,...,-1,,1282941864,20800,,199,600,06-MAR-2018 01:20:52,1,
519294,14:02:35,27-FEB-2018,27-FEB-2018,49863097,9897350,27-FEB-2018 15:00:52,18665193734,200,51598037,MY,...,,,,30600,,199,600,,1,
519295,18:35:46,27-FEB-2018,27-FEB-2018,49856622,40823412,27-FEB-2018 14:02:35,18665193734,200,51598037,IOS,...,-1,,,17800,,199,600,27-FEB-2018 14:02:37,1,
519296,17:38:33,27-FEB-2018,27-FEB-2018,49886666,2381872,27-FEB-2018 18:35:46,18665193734,200,51598037,MY,...,,,,5800,,199,600,,1,
519297,19:15:16,27-FEB-2018,27-FEB-2018,49881271,38428,27-FEB-2018 17:38:33,18665193734,200,51598037,MY,...,-1,,1445108093,18200,,199,600,03-MAR-2018 14:56:49,1,
519298,11:35:01,28-FEB-2018,28-FEB-2018,49889739,2684188,27-FEB-2018 19:15:16,18665193734,200,51598037,MY,...,-1,,1765821233,16200,,199,600,06-MAR-2018 01:18:38,1,
519299,13:06:54,28-FEB-2018,28-FEB-2018,49925554,47735249,28-FEB-2018 11:35:01,18726302563,200,49394221,ANDROID,...,-1,,,0,,699,600,28-FEB-2018 11:35:04,1,
519300,17:48:19,28-FEB-2018,28-FEB-2018,49938857,46265819,28-FEB-2018 13:06:54,18726302563,200,49394221,ANDROID,...,-1,,,1200,,699,600,03-MAR-2018 09:45:04,1,
519301,23:47:09,03-MAR-2018,03-MAR-2018,49973149,27869052,28-FEB-2018 17:48:19,18548858046,200,6107367,AUTOINST,...,,,,1600,,699,600,,1,
519302,14:50:49,03-MAR-2018,03-MAR-2018,50305975,21693409,03-MAR-2018 23:47:09,18742859234,200,13925418,ANDROID,...,,,,1200,,699,600,,1,
519303,11:40:32,03-MAR-2018,03-MAR-2018,50207490,41615788,03-MAR-2018 14:50:49,18665218452,200,24530422,MY,...,-1,,,22800,,199,600,03-MAR-2018 15:02:22,1,
519304,11:05:25,03-MAR-2018,03-MAR-2018,50171723,27523144,03-MAR-2018 11:40:32,18665218452,200,24530422,ANDROID,...,-1,,,6800,,199,600,06-MAR-2018 12:38:12,1,
519305,13:36:26,03-MAR-2018,03-MAR-2018,50164233,37809346,03-MAR-2018 11:05:25,18665218452,200,24530422,MY,...,-1,,,15400,,199,600,03-MAR-2018 11:08:01,1,
519306,11:50:39,03-MAR-2018,03-MAR-2018,50194278,3916769,03-MAR-2018 13:36:26,18665218452,200,24530422,ANDROID,...,,,,4200,,199,600,,1,
519307,12:26:44,03-MAR-2018,03-MAR-2018,50173780,12736572,03-MAR-2018 11:50:39,18665218452,200,24530422,MY,...,,,,4000,,199,600,,1,
519308,12:42:57,03-MAR-2018,03-MAR-2018,50181002,18168299,03-MAR-2018 12:26:44,18665218452,200,24530422,ANDROID,...,-1,,,4600,,1299,400,03-MAR-2018 12:33:22,1,
519309,10:51:51,03-MAR-2018,03-MAR-2018,50184275,11108290,03-MAR-2018 12:42:57,18665218452,200,24530422,MY,...,,,,18800,,199,600,,1,
519310,10:24:48,03-MAR-2018,03-MAR-2018,50161344,14136651,03-MAR-2018 10:51:51,18665218452,200,24530422,MY,...,-1,,,1800,,699,600,03-MAR-2018 11:58:03,1,
519311,15:20:24,04-MAR-2018,04-MAR-2018,50156258,4336347,03-MAR-2018 10:24:48,18770223885,200,35329296,EMORNING,...,,,,3400,,199,600,,1,
519312,12:50:24,08-MAR-2018,08-MAR-2018,50431990,36167121,04-MAR-2018 15:20:24,18742859234,200,13925418,ANDROID,...,,,,4400,,699,600,,1,
519313,09:04:35,08-MAR-2018,08-MAR-2018,50667993,3366092,08-MAR-2018 12:50:24,18743502213,200,2898705,MY,...,-1,,,5600,,699,600,,1,
519314,16:15:34,07-MAR-2018,07-MAR-2018,50648227,54582157,08-MAR-2018 09:04:35,18743502213,200,2898705,IOS,...,-1,,,5600,,699,600,08-MAR-2018 09:04:35,1,
519315,11:07:26,09-MAR-2018,09-MAR-2018,50625342,28061284,07-MAR-2018 16:15:34,18757861452,200,2898705,MY,...,-1,,,6800,,199,600,07-MAR-2018 16:59:10,1,
519316,NaN,NaN,NaN,50724456,22073062,09-MAR-2018 11:07:26,18743502213,200,2898705,MY,...,,,,1000,,699,600,,1,